{% extends "base.html" %}

{% macro render_field_errors(field) %}
{% if field.errors %}
<div style="border: 1px solid lightgrey; padding: 5px; background-color:lightcoral; color:black">
  <p>
    <ul>
      {% for error in field.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </p>
</div>
{% endif %}
{% endmacro %}

{% block styles %}
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/boa_favicon_16x18.png') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='dist/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block boa_body_content %}
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2>{% block change_password_text %}Please, add new password{% endblock %}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <div class="login-wrap p-4 p-md-5">
	  <div class="icon d-flex align-items-center justify-content-center">
	    <span class="fa fa-lock"></span>
	  </div>
	  <h3 class="text-center mb-4">Change Password</h3>
          <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">

            {# This allows flask change password to insert needed information in the HTML #}
            {{ change_password_form.hidden_tag() }}


            {# Define the needed fields with the corresponding name tag: password, new_password, new_password_confirm #}
            {# This tag has been added as a customazation: username #}

	    <div class="form-group">
        {{ render_field_errors(change_password_form.password) }}
        {{ render_field_errors(change_password_form.new_password) }}
        {{ render_field_errors(change_password_form.new_password_confirm) }}
	    </div>

	    <div class="form-group">
              <!-- Password -->
	      <input type="password" class="form-control rounded-left" placeholder="Password" name="password">
	    </div>
            
            <!-- New Password -->
	    <div class="form-group d-flex">
	      <input type="password" class="form-control rounded-left" placeholder="New Password" name="new_password" required>
	    </div>

            <!-- Confirm New Password -->
	    <div class="form-group d-flex">
	      <input type="password" class="form-control rounded-left" placeholder="Confirm New Password" name="new_password_confirm" required>
	    </div>

            <!-- Submit button -->
	    <div class="form-group">
	      <button type="submit" name="submit" class="form-control btn btn-primary rounded submit px-3">Confirm</button>
	    </div>

	  </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
