<!doctype html>
<html lang="en">
  
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Visualization tool for Bussiness Operation Analysis">
    <meta name="author" content="Daniel Brosnan Blázquez <daniel.brosnan@deimos-space.com>">

    {% block title %}
    <title>BOA - Bussiness Operation Analysis</title>
    {% endblock %}

    {% block styles %}
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/boa_favicon_16x18.png') }}"/>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/styles.css') }}">

    <!-- Custom CSS from https://startbootstrap.com/template-overviews/sb-admin-2/ -->
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/vboa.css') }}">

    {% endblock %}
    
  </head>

  <body id="boa-body">
    <div id="updating-page">
    </div>
    <div>{% block project_header %}{% endblock %}</div>
    {% block boa_body_content %}
    <div id="boa-html-page" hidden>
    </div>    
    <div id="wrapper">
      <!-- Navigation bar -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <!-- Title -->
        <div class="navbar-header">
          <div  class="navbar-brand">
            <div style="display:inline"><a href="{{ url_for('static', filename='images/boa_favicon.png') }}"><img src="{{ url_for('static', filename='images/boa_favicon_31x35.png') }}"/></a></div>
            <div style="display:inline"><a href="/">{% block project_version %}BOA 1.0.0{% endblock %}</a></div>
            <!-- Button for showing/hiding the side panel -->
            <a href="#" id="sidbar-collapse" type="button">
              <i style="margin:10px" class="fa fa-bars"></i>
            </a>
          </div>
        </div>
        <!-- /.navbar-header -->
        <!-- User menu -->
        {% if current_user.is_authenticated %}
        <ul class="nav navbar-top-links navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Welcome {{ current_user.username }}<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="/user-profile/?user={{ current_user.username }}"><i class="fa fa-user fa-fw"></i> View profile</li></a>
              <li class="divider"></li>
              <li><a href="{{ url_for_security('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</li></a>
            </ul>
            <!-- /.dropdown-user -->
          </li>
          <!-- /.dropdown -->
        </ul>
        {% endif %}
        <!-- /.navbar-top-links -->
        <div id="sidebar" class="navbar-default sidebar collapse in" role="navigation">
          <div class="sidebar-nav navbar-collapse" id="navbar-left-side-menu">
            <ul class="nav" id="left-side-menu">
              {% if current_user.is_anonymous or current_user.has_one_of_these_roles(["administrator"]) %}
              <li>
                <a href="#"><i class="fa fa-users fa-fw"></i> Users management<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                    <a href="/users-management/uboa-nav"><i class="fa fa-fw fa-user"></i> UBOA navigation </a>
                  </li>
                  <li>
                    <a href="/users-management/import-users"><i class="fa fa-fw fa-download"></i> Import users</a>
                  </li>
                  <li>
                    <a href="/users-management/export-users"><i class="fa fa-fw fa-upload"></i> Export users</a>
                  </li>
                </ul>
                <!-- /.nav-second-level -->
              </li>
              {% endif %}
              {% if current_user.is_anonymous or current_user.has_one_of_these_roles(["administrator", "service_administrator", "operator"]) %}
              <li id="boa-management-menu-li">
                <a href="#" id="boa-management-menu"><i class="fa fa-wrench fa-fw"></i> BOA management<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" id="boa-management-menu-ul">
                  <li>
                    <a href="#" onclick="vboa.request_switch_on_off_orc()"><i id="orc-indicator" class="circle red-circle"></i><span> Orchestrator</a>
                  </li>
                  <li>
                    <a href="#" onclick="vboa.request_switch_on_off_cron()"><i id="cron-indicator" class="circle red-circle"></i><span> Health</a>
                  </li>
                  <li>
                    <a href="#" onclick="vboa.request_switch_on_off_scheduler()"><i id="sboa-indicator" class="circle red-circle"></i><span> Scheduler</a>
                  </li>
                </ul>
                <!-- /.nav-second-level -->
              </li>
              <li>
                <a href="#"><i class="fa fa-heart-o fa-fw"></i> BOA Health<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                    <a href="/health/health"><i class="fa fa-fw fa-tachometer"></i> Complete view</a>
                  </li>
                  <li>
                    <a href="/health/health?template=alerts"><i class="fa fa-fw fa-exclamation-triangle"></i> Alerts</a>
                  </li>
                </ul>
                <!-- /.nav-second-level -->
              </li>
              {% endif %}
              {% if current_user.is_anonymous or current_user.has_none_of_these_roles(["observer"]) %}
              <li>
                <a href="#"><i class="fa fa-clock-o fa-fw"></i> BOA Scheduler<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                    <a href="/sboa/simulate"><i class="fa fa-fw fa-calculator"></i> Simulate</a>
                  </li>
                  <!-- <li> -->
                  <!--   <a href="/sboa/navigate"><i class="fa fa-table fa-fw"></i> Navigate</a> -->
                  <!-- </li> -->
                </ul>
                <!-- /.nav-second-level -->
              </li>
              <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Ingestion control<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                    <a href="/ingestion_control/ingestion_control"><i class="fa fa-fw fa-tachometer"></i> Complete view</a>
                  </li>
                  <li>
                    <a href="/ingestion_control/ingestion_control?template=errors"><i class="fa fa-fw fa-exclamation-circle"></i> Ingestion errors</a>
                  </li>
                  <li>
                    <a href="/ingestion_control/ingestion_control?template=alerts"><i class="fa fa-fw fa-exclamation-triangle"></i> Alerts</a>
                  </li>
                </ul>
                <!-- /.nav-second-level -->
              </li>
              <li>
                <a href="/eboa_nav"><i class="fa fa-table fa-fw"></i> EBOA navigation</a>
              </li>
              <li>
                <a href="/general-view-alerts"><i class="fa fa-fw fa-exclamation-triangle"></i> General view of alerts</a>
              </li>
              <li>
                <a href="/rboa_nav"><i class="fa fa-pie-chart fa-fw"></i> Reporting navigation</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Reporting control<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                    <a href="/rboa_nav/reporting_triggering"><i class="fa fa-fw fa-play"></i> Execute </a>
                  </li>
                  <li>
                    <a href="/reporting_control/reporting_control"><i class="fa fa-fw fa-tachometer"></i> Complete view</a>
                  </li>
                  <li>
                    <a href="/reporting_control/reporting_control?template=errors"><i class="fa fa-fw fa-exclamation-circle"></i> Reporting errors</a>
                  </li>
                  <li>
                    <a href="/reporting_control/reporting_control?template=alerts"><i class="fa fa-fw fa-exclamation-triangle"></i> Alerts</a>
                  </li>
                </ul>
              </li>
              {% endif %}
              {% block side_panel_plugins %}{% endblock %}
            </ul>
          </div>
          <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
      </nav>
      <div id="page-actions" class="page-actions shrink-expand-content">
        <div class="col-xs-6">
          {% block save_page_link %}
          <div id="save-page">
            <button type="button" class="btn btn-primary" onclick="vboa.save_screenshot('SCREENSHOT_PAGE', 'Group for saving screenshots of the web page')">Save screenshot of this page as a report</button>
          </div>
          {% endblock %}
        </div>
        <div style="text-align:right" id="time-clock"></div>
      </div>
      <div id="page-wrapper" class="shrink-expand-content">
        {% block content %}{% endblock %}
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    {% endblock %}
    {% block scripts %}

    <!-- Load the bundle of scripts -->
    <script src="{{ url_for('static', filename='dist/bundle.js') }}" type="text/javascript"></script>

    {% endblock %}
  </body>
</html>
