{% if filters and "limit" in filters %}
{% set filters_to_show_all = filters.copy() %}
{% do filters_to_show_all.__setitem__("offset", [0]) %}
{% do filters_to_show_all.__setitem__("limit", [""]) %}

{# Define the number of elements displayed in the view #}
{% set number_of_elements_displayed = number_of_elements %}
{% if elements != None %}
{% set number_of_elements_displayed = elements|length %}
{% endif %}

{% if filters["limit"][0] != "" and filters["limit"][0]|int == number_of_elements_displayed %}
<div class="panel panel-yellow">
  <div class="panel-heading">
    The number of requested elements is higher than the limit of the query, you can navigate through all the list using the following links:
  </div>
  {% if filters["offset"][0]|int == 0 %}
  {% set filters_to_forward = filters.copy() %}
  {% do filters_to_forward.__setitem__("offset", [filters_to_forward["offset"][0]|int + filters_to_forward["limit"][0]|int]) %}
  <div class="panel-body" style="text-align:center">
    <a href="#" onclick='vboa.request_info_json("{{ route }}", vboa.render_page, {{ filters_to_forward|tojson }}, true)'>Next >></a>
    <br/>
    <a href="#" onclick='vboa.request_info_json("{{ route }}", vboa.render_page, {{ filters_to_show_all|tojson }}, true)'><< Show all >></a>
  </div>
  {% else %}
  <div class="panel-body" style="text-align:center">
    {% set filters_to_forward_prev = filters.copy() %}
    {% set filters_to_forward_next = filters.copy() %}
    {% do filters_to_forward_prev.__setitem__("offset", [filters_to_forward_prev["offset"][0]|int - filters_to_forward_prev["limit"][0]|int]) %}
    {% do filters_to_forward_next.__setitem__("offset", [filters_to_forward_next["offset"][0]|int + filters_to_forward_next["limit"][0]|int]) %}
    <a href="#" onclick='vboa.request_info_json("{{ route }}", vboa.render_page, {{ filters_to_forward_prev|tojson }}, true)'><< Prev</a><p style="display: inline"> | </p><a href="#" onclick='vboa.request_info_json("{{ route }}", vboa.render_page, {{ filters_to_forward_next|tojson }}, true)'>Next >></a>
    <br/>
    <a href="#" onclick='vboa.request_info_json("{{ route }}", vboa.render_page, {{ filters_to_show_all|tojson }}, true)'><< Show all >></a>
  </div>
  {% endif %}
</div>
{% elif filters["offset"][0]|int > 0 and filters["limit"][0]|int > number_of_elements_displayed  %}
<div class="panel panel-yellow">
  <div class="panel-heading">
    All the elements have been reviewed, you can go to the previous pages:
  </div>
  <div class="panel-body" style="text-align:center">
    {% set filters_to_forward_prev = filters.copy() %}
    {% do filters_to_forward_prev.__setitem__("offset", [filters_to_forward_prev["offset"][0]|int - filters_to_forward_prev["limit"][0]|int]) %}
    <a href="#" onclick='vboa.request_info_json("{{ route }}", vboa.render_page, {{ filters_to_forward_prev|tojson }}, true)'><< Prev</a>
    <br/>
    <a href="#" onclick='vboa.request_info_json("{{ route }}", vboa.render_page, {{ filters_to_show_all|tojson }}, true)'><< Show all >></a>
  </div>
</div>
{% elif filters["limit"][0] != "" and filters["limit"][0]|int < number_of_elements_displayed %}
<div class="panel panel-red">
  <div class="panel-heading">
    Pagination is aborted. Limit management at query level has an error.
  </div>
  <div class="panel-body" style="text-align:center">
    The query used is not managing correctly the limit applied. The number of elements to be displayed ({{ number_of_elements_displayed }}) exceeded the limit ({{ filters["limit"][0] }}).
  </div>
</div>
{% endif %}
{% endif %}
