{% extends "rboa_nav/rboa_nav.html" %}

{% set alerts_html_table_file = "general_view_alerts/general_view_alerts_reports_table_content.html" %}
{% set route_pagination = url_for('rboa_nav.query_alerts_pages') %}
{% block li_active_reports %}class="active"{% endblock %}
{% block div_active_reports %}active{% endblock %}
{% block reports_nav_content %}
<div>
  <a href="{{ url_for('rboa_nav.query_reports_and_render') }}"><p class="fa fa-chevron-left"> Back to query reports</p></a>
</div>
<!-- Content -->
{% include "eboa_nav/alerts_nav_content.html" %}
{% endblock %}
<!-- Scripts -->
{% block scripts %}
{{ super() }}
{% with report_alerts=alerts%}
{% include "general_view_alerts/general_view_alerts_scripts.html" %}
{% endwith %}
{% endblock %}
