<!-- Pagination -->
{% with route = "/eboa_nav/query-alerts-pages", elements = alerts, filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

{% if alerts|length > 0 %}
<div class="panel panel-default">
  <div class="panel-heading">
    Table of alerts
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover table-search" id="alerts-table">
    {% with alerts = alerts %}
    {% include alerts_html_table_file %}
    {% endwith %}
    </table>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
<!-- Timeline -->
<div class="panel panel-default">
  <div class="panel-heading">
    Timeline of alerts
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div id="alerts-nav-timeline">
    </div>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
{% else %}
<div class="panel panel-default">
  <div class="panel-heading">
    Table of alerts
  </div>
  <div id="alerts-nav-no-data">
    <br/>
    <p style="text-indent: 1em">No "alerts" have been found with the requested filters.</p>
    <br/>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
{% endif %}