{% extends "eboa_nav/eboa_nav.html" %}
{% block li_active_annotation_cnfs %}class="active"{% endblock %}
{% block div_active_annotation_cnfs %}active{% endblock %}
{% block annotation_cnfs_nav_content %}
<div>
  <a href="/eboa_nav/query-annotation-cnfs"><p class="fa
  fa-chevron-left"> Back to query annotation configurations</p></a>
</div>
{% if filters["limit"][0] != "" and filters["limit"][0]|int == annotation_cnfs|length %}
<div class="panel panel-yellow">
  <div class="panel-heading">
    The number of requested elements is higher than the limit of the query, you can navigate through all the list using the following links:
  </div>
  {% if filters["offset"][0]|int == 0 %}
  {% set filters_to_forward = filters.copy() %}
  {% do filters_to_forward.__setitem__("offset", [filters_to_forward["offset"][0]|int + filters_to_forward["limit"][0]|int]) %}
  <div class="panel-body" style="text-align:center">
    <a href="#" onclick='vboa.request_info_json("/eboa_nav/query-annotation-cnfs-pages", vboa.render_page, {{ filters_to_forward|tojson }})'>Next >></a>
  </div>
  {% else %}
  <div class="panel-body" style="text-align:center">
    {% set filters_to_forward_prev = filters.copy() %}
    {% set filters_to_forward_next = filters.copy() %}
    {% do filters_to_forward_prev.__setitem__("offset", [filters_to_forward_prev["offset"][0]|int - filters_to_forward_prev["limit"][0]|int]) %}
    {% do filters_to_forward_next.__setitem__("offset", [filters_to_forward_next["offset"][0]|int + filters_to_forward_next["limit"][0]|int]) %}
    <a href="#" onclick='vboa.request_info_json("/eboa_nav/query-annotation-cnfs-pages", vboa.render_page, {{ filters_to_forward_prev|tojson }})'><< Prev</a><p style="display: inline"> | </p><a href="#" onclick='vboa.request_info_json("/eboa_nav/query-annotation-cnfs-pages", vboa.render_page, {{ filters_to_forward_next|tojson }})'>Next >></a>
  </div>
  {% endif %}
</div>
{% elif filters["offset"][0]|int > 0 and annotation_cnfs|length < filters["limit"][0]|int %}
<div class="panel panel-yellow">
  <div class="panel-heading">
    All the elements have been reviewed, you can go to the previous pages:
  </div>
  <div class="panel-body" style="text-align:center">
    {% set filters_to_forward_prev = filters.copy() %}
    {% do filters_to_forward_prev.__setitem__("offset", [filters_to_forward_prev["offset"][0]|int - filters_to_forward_prev["limit"][0]|int]) %}
    <a href="#" onclick='vboa.request_info_json("/eboa_nav/query-annotation-cnfs-pages", vboa.render_page, {{ filters_to_forward_prev|tojson }})'><< Prev</a>
  </div>
</div>
{% endif %}
<div class="panel panel-green">
  <div class="panel-heading">
    Table of annotation configurations
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover table-search" id="annotation-cnfs-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>System</th>
          <th>DIM signature</th>
          <th>Annotation configuration UUID</th>
        </tr>
      </thead>
      <tbody>
        {% for annotation_cnf in annotation_cnfs %}
        <tr>
          <td>{{ annotation_cnf.name }}</td>
          <td>{{ annotation_cnf.system }}</td>
          <td>{{ annotation_cnf.dim_signature.dim_signature }}</td>
          <td>{{ annotation_cnf.annotation_cnf_uuid }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>System</th>
          <th>DIM signature</th>
          <th>Annotation configuration UUID</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
{% endblock %}
