{% extends "eboa_nav/eboa_nav.html" %}
{% block li_active_annotations %}class="active"{% endblock %}
{% block div_active_annotations %}active{% endblock %}
{% block annotations_nav_content %}
<div>
  <a href="/eboa_nav/query-annotations"><p class="fa fa-chevron-left"> Back to query annotations</p></a>
</div>

<!-- Pagination -->
{% with route = "/eboa_nav/query-annotations-pages", elements = annotations, filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

<div class="panel panel-default">
  <div class="panel-heading">
    Table of annotations
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover table-search" id="annotations-table">
      <thead>
        <tr>
          <th></th>
          <th>Annotation name</th>
          <th>Annotation system</th>
          <th>Ingestion Time</th>
          <th>Source</th>
          <th>Explicit Reference</th>
          <th>Annotation UUID</th>
        </tr>
      </thead>
      <tbody>
        {% for annotation in annotations %}
        <tr>
          <td><i id="expand-values-annotation-{{ annotation.annotation_uuid }}" class="fa fa-plus-square green" aria-hidden="true" onclick="vboa.expand_annotation_values('expand-values-annotation-{{ annotation.annotation_uuid }}', '{{ annotation.annotation_uuid }}')" data-toggle="tooltip" title="Click to show the related values"></i></td>
          <td>{{ annotation.annotationCnf.name }}</td>
          <td>{{ annotation.annotationCnf.system }}</td>
          <td>{{ annotation.ingestion_time }}</td>
          {% set source_uuid = annotation.source.source_uuid %}
          <td><a href="/eboa_nav/query-source/{{ source_uuid }}">{{ annotation.source.name }}</a></td>
          <td>{{ annotation.explicitRef.explicit_ref }}</td>
          <td>{{ annotation.annotation_uuid }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>Annotation name</th>
          <th>Annotation system</th>
          <th>Ingestion Time</th>
          <th>Source</th>
          <th>Explicit Reference</th>
          <th>Annotation UUID</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
{% if show["map"] %}
<div class="panel panel-default">
  <div class="panel-heading">
    Map of footprints related to the queried annotations
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div id="annotations-nav-map">
    </div>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
{% endif %}
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
      {% if show["map"] %}
      {% with annotations_geometries=annotations_geometries %}
      {% include "graphs/annotations_geometries_to_json_for_map.js" %}
      {% endwith %}
      vboa.create_annotation_map(annotations_geometries, "annotations-nav-map");
      {% endif %}
    </script>
{% endblock %}
