{% extends "eboa_nav/eboa_nav.html" %}
{% block li_active_dim_signatures %}class="active"{% endblock %}
{% block div_active_dim_signatures %}active{% endblock %}
{% block dim_signatures_nav_content %}
<div>
  <a href="/eboa_nav/query-dim-signatures"><p class="fa
  fa-chevron-left"> Back to query DIM signatures</p></a>
</div>
{% if filters["limit"] != "" and filters["limit"]|int == dim_signatures|length %}
<div class="panel panel-yellow">
  <div class="panel-heading">
    The number of requested elements is higher than the limit of the query, you can navigate through all the list using the following links:
  </div>
  {% if filters["offset"]|int == 0 %}
  {% set filters_to_forward = filters.copy() %}
  {% do filters_to_forward.__setitem__("offset", filters_to_forward["offset"]|int + filters_to_forward["limit"]|int) %}
  <div class="panel-body" style="text-align:center">
    <a href="#" onclick='vboa.request_info_json("/eboa_nav/query-dim-signatures-pages", vboa.render_page, {{ filters_to_forward|tojson }})'>Next >></a>
  </div>
  {% else %}
  <div class="panel-body" style="text-align:center">
    {% set filters_to_forward_prev = filters.copy() %}
    {% set filters_to_forward_next = filters.copy() %}
    {% do filters_to_forward_prev.__setitem__("offset", filters_to_forward_prev["offset"]|int - filters_to_forward_prev["limit"]|int) %}
    {% do filters_to_forward_next.__setitem__("offset", filters_to_forward_next["offset"]|int + filters_to_forward_next["limit"]|int) %}
    <a href="#" onclick='vboa.request_info_json("/eboa_nav/query-dim-signatures-pages", vboa.render_page, {{ filters_to_forward_prev|tojson }})'><< Prev</a><p style="display: inline"> | </p><a href="#" onclick='vboa.request_info_json("/eboa_nav/query-dim-signatures-pages", vboa.render_page, {{ filters_to_forward_next|tojson }})'>Next >></a>
  </div>
  {% endif %}
</div>
{% elif filters["offset"]|int > 0 and dim_signatures|length < filters["limit"]|int %}
<div class="panel panel-yellow">
  <div class="panel-heading">
    All the elements have been reviewed, you can go to the previous pages:
  </div>
  <div class="panel-body" style="text-align:center">
    {% set filters_to_forward_prev = filters.copy() %}
    {% do filters_to_forward_prev.__setitem__("offset", filters_to_forward_prev["offset"]|int - filters_to_forward_prev["limit"]|int) %}
    <a href="#" onclick='vboa.request_info_json("/eboa_nav/query-dim-signatures-pages", vboa.render_page, {{ filters_to_forward_prev|tojson }})'><< Prev</a>
  </div>
</div>
{% endif %}
<div class="panel panel-green">
  <div class="panel-heading">
    Table of DIM signatures
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover table-search" id="dim-signatures-table">
      <thead>
        <tr>
          <th>DIM signature</th>
          <th>Sources</th>
          <th>Gauges</th>
          <th>Annotation configurations</th>
          <th>DIM signature UUID</th>
        </tr>
      </thead>
      <tbody>
        {% for dim_signature in dim_signatures %}
        <tr>
          <td>{{ dim_signature.dim_signature }}</td>
          <td><a href="/eboa_nav/query-sources-by-dim/{{ dim_signature.dim_signature_uuid }}"><i class="fa fa-link"></i></a></td>
          <td><a href="/eboa_nav/query-gauges-by-dim/{{ dim_signature.dim_signature_uuid }}"><i class="fa fa-link"></i></a></td>
          <td><a href="/eboa_nav/query-annotation-cnfs-by-dim/{{ dim_signature.dim_signature_uuid }}"><i class="fa fa-link"></i></a></td>
          <td>{{ dim_signature.dim_signature_uuid }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>DIM signature</th>
          <th>Sources</th>
          <th>Gauges</th>
          <th>Annotation configurations</th>
          <th>DIM signature UUID</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
{% endblock %}
