{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">EBOA navigation</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <ul class="nav nav-tabs responsive-tabs">
    <li {% block li_active_events %} {% endblock %}><a href="#nav-events">Events</a></li>
    <li {% block li_active_explicit_references %} {% endblock %}><a href="#nav-explicit-references">Explicit references</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane {% block div_active_events %} {% endblock %}" id="nav-events">
      {% include "eboa_nav/query_events.html" %}
    </div>
    <!-- /.col-lg-12 -->
    <div class="tab-pane {% block div_active_explicit_references %} {% endblock %}" id="nav-explicit-references">

    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.tab-content -->
</div>
<!-- /.row -->
{% endblock %}
