{% extends "eboa_nav/eboa_nav.html" %}
{% block li_active_events %}class="active"{% endblock %}
{% block div_active_events %}active{% endblock %}
{% block events_nav_content %}
<div>
  <a href="/eboa_nav/query-events"><p class="fa fa-chevron-left"> Back to query events</p></a>
</div>

<!-- Pagination -->
{% with route = "/eboa_nav/query-events-pages", elements = events, filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

{% if events|length > 0 %}
<div class="panel panel-default">
  <div class="panel-heading">
    Table of events
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover table-search" id="events-table">
      <thead>
        <tr>
          <th></th>
          <th>Gauge name</th>
          <th>Gauge system</th>
          <th>Start</th>
          <th>Stop</th>
          <th>Duration (s)</th>
          <th>Ingestion time</th>
          <th>Source</th>
          <th>Explicit reference</th>
          <th>Linked events</th>
          <th>Alerts</th>
          <th>Event UUID</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <td><i id="expand-values-event-{{ event.event_uuid }}" class="fa fa-plus-square green" aria-hidden="true" onclick="vboa.expand_event_values('expand-values-event-{{ event.event_uuid }}', '{{ event.event_uuid }}')" data-toggle="tooltip" title="Click to show the related values"></i></td>
          <td>{{ event.gauge.name }}</td>
          <td>{{ event.gauge.system }}</td>
          <td>{{ event.start.isoformat() }}</td>
          <td>{{ event.stop.isoformat() }}</td>
          <td>{{ (event.stop - event.start).total_seconds() }}</td>
          <td>{{ event.ingestion_time.isoformat() }}</td>
          {% set source_uuid = event.source.source_uuid %}
          <td><a href="/eboa_nav/query-source/{{ source_uuid }}">{{ event.source.name }}</a></td>
          <td>
            {% if event.explicitRef %}
            <a href="/eboa_nav/query-er/{{ event.explicitRef.explicit_ref_uuid }}">{{ event.explicitRef.explicit_ref }}</a>
            {% endif %}
          </td>
          <td><a href="/eboa_nav/query-event-links/{{ event.event_uuid }}"><i class="fa fa-link"></i></a></td>
          <td><a href="/eboa_nav/query-event-alerts/{{ event.event_uuid }}"><i class="fa fa-link"></i></a></td>
          <td>{{ event.event_uuid }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>Gauge name</th>
          <th>Gauge system</th>
          <th>Start</th>
          <th>Stop</th>
          <th>Duration (s)</th>
          <th>Ingestion time</th>
          <th>Source</th>
          <th>Explicit reference</th>
          <th>Linked events</th>
          <th>Alerts</th>
          <th>Event UUID</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
{% if show["timeline"] %}
<div class="panel panel-default">
  <div class="panel-heading">
    Timeline of events
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div id="events-nav-timeline">
    </div>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
{% endif %}
{% if show["map"] %}
<div class="panel panel-default">
  <div class="panel-heading">
    Map of footprints related to the queried events
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div id="events-nav-map">
    </div>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
{% endif %}
{% else %}
<div class="panel panel-default">
  <div class="panel-heading">
    Table of ingested events
  </div>
  <div id="events-nav-no-data">
    <br/>
    <p style="text-indent: 1em">No "events" have been found with the requested filters.</p>
    <br/>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
{% endif %}
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
      {% if events|length > 0 %}
      {% if show["timeline"] %}
      {% with events=events %}
      {% include "graphs/events_to_json_for_timeline.js" %}
      {% endwith %}
      vboa.create_event_timeline(events, "events-nav-timeline");
      {% endif %}
      {% if show["map"] %}
      {% with events_geometries=events_geometries %}
      {% include "graphs/events_geometries_to_json_for_map.js" %}
      {% endwith %}
      vboa.create_event_map(events_geometries, "events-nav-map");
      {% endif %} 
      {% endif %}     
    </script>
{% endblock %}
