{% extends "eboa_nav/eboa_nav.html" %}
{% block li_active_events %}class="active"{% endblock %}
{% block div_active_events %}active{% endblock %}
{% block events_nav_content %}
<div>
  <a href="/eboa_nav/query-events"><p class="fa fa-chevron-left"> Back to query events</p></a>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Table of events
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover table-search" id="events">
      <thead>
        <tr>
          <th></th>
          <th>Gauge name</th>
          <th>Gauge system</th>
          <th>Start</th>
          <th>Stop</th>
          <th>Duration (s)</th>
          <th>Ingestion Time</th>
          <th>Source</th>
          <th>Explicit Reference</th>
          <th>Linked events</th>
          <th>Event UUID</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <td><i id="expand-values-event-{{ event.event_uuid }}" class="fa fa-plus-square green" aria-hidden="true" onclick="vboa.expand_event_values('expand-values-event-{{ event.event_uuid }}', '{{ event.event_uuid }}')" data-toggle="tooltip" title="Click to show the related values"></i></td>
          <td>{{ event.gauge.name }}</td>
          <td>{{ event.gauge.system }}</td>
          <td>{{ event.start }}</td>
          <td>{{ event.stop }}</td>
          <td>{{ (event.stop - event.start).total_seconds() }}</td>
          <td>{{ event.ingestion_time }}</td>
          {% set source_uuid = event.source.source_uuid %}
          <td><a href="/eboa_nav/query-source/{{ source_uuid }}">{{ event.source.name }}</a></td>
          <td>
            {% set er = "" %}
            {% if event.explicitRef %}
            {% set er = event.explicitRef.explicit_ref %}
            {% endif %}
            {{ er }}
          </td>
          <td><a href="/eboa_nav/query-event-links/{{ event.event_uuid }}"><i class="fa fa-link"></i></a></td>
          <td>{{ event.event_uuid }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>Gauge name</th>
          <th>Gauge system</th>
          <th>Start</th>
          <th>Stop</th>
          <th>Duration (s)</th>
          <th>Ingestion Time</th>
          <th>Source</th>
          <th>Explicit Reference</th>
          <th>Linked events</th>
          <th>Event UUID</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
{% if show["timeline"] %}
<div class="panel panel-default">
  <div class="panel-heading">
    Timeline of events
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div id="events_nav_timeline">
    </div>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
{% endif %}
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
      {% if show["timeline"] %}
      {% with events=events %}
      {% include "graphs/events_to_json_for_timeline.js" %}
      {% endwith %}
      vboa.create_event_timeline(events, "events_nav_timeline");
      {% endif %}
    </script>
{% endblock %}
