{% extends "eboa_nav/eboa_nav.html" %}

{% set alerts_html_table_file = "general_view_alerts/general_view_alerts_events_table_content.html" %}
{% set route_pagination = url_for('eboa_nav.query_alerts_pages') %}
{% block li_active_events %}class="active"{% endblock %}
{% block div_active_events %}active{% endblock %}
{% block events_nav_content %}
<div>
  <a href="{{ url_for('eboa_nav.query_events_and_render') }}"><p class="fa fa-chevron-left"> Back to query events</p></a>
</div>
<!-- Content -->
{% include "eboa_nav/alerts_nav_content.html" %}
{% endblock %}
<!-- Scripts -->
{% block scripts %}
{{ super() }}
{% with event_alerts=alerts%}
{% include "general_view_alerts/general_view_alerts_scripts.html" %}
{% endwith %}
{% endblock %}
