{% extends "eboa_nav/eboa_nav.html" %}
{% block li_active_explicit_references %}class="active"{% endblock %}
{% block div_active_explicit_references %}active{% endblock %}
{% block explicit_references_nav_content %}
<div>
  <a href="/eboa_nav/query-ers"><p class="fa fa-chevron-left"> Back to query explicit references</p></a>
</div>

<!-- Pagination -->
{% with route = "/eboa_nav/query-ers-pages", elements = ers, filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

<div class="panel panel-default">
  <div class="panel-heading">
    Table of explicit references
  </div>
  <!-- /.panel-heading -->
  {% if ers|length > 0 %}
  <div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover table-search" id="explicit-refs-table">
      <thead>
        <tr>
          <th>Explicit reference</th>
          <th>Group</th>
          <th>Events</th>
          <th>Annotations</th>
          <th>Ingestion time</th>
          <th>Linked explicit references</th>
          <th>Explicit reference UUID</th>
        </tr>
      </thead>
      <tbody>
        {% for er in ers %}
        <tr>
          <td>{{ er.explicit_ref }}</td>
          <td>{{ er.group.name }}</td>
          <td><a href="/eboa_nav/query-events-by-er/{{ er.explicit_ref }}"><i class="fa fa-link"></i></a></td>
          <td><a href="/eboa_nav/query-annotations-by-er/{{ er.explicit_ref }}"><i class="fa fa-link"></i></a></td>
          <td>{{ er.ingestion_time.isoformat() }}</td>
          <td><a href="/eboa_nav/query-er-links/{{ er.explicit_ref_uuid }}"><i class="fa fa-link"></i></a></td>
          <td>{{ er.explicit_ref_uuid }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Explicit reference</th>
          <th>Group</th>
          <th>Events</th>
          <th>Annotations</th>
          <th>Ingestion time</th>
          <th>Linked explicit references</th>
          <th>Explicit reference UUID</th>
        </tr>
      </tfoot>
    </table>
  </div>
  {% else %}
  <div id="explicit-refs-nav-no-data">
    <br/>
    <p style="text-indent: 1em">There have been not found any "explicit reference" with the requested filters.</p>
    <br/>
  </div>
  {% endif %}
  <!-- /.panel-body -->
</div>
{% endblock %}
