{% extends "eboa_nav/eboa_nav.html" %}
{% block li_active_gauges %}class="active"{% endblock %}
{% block div_active_gauges %}active{% endblock %}
{% block gauges_nav_content %}
<div>
  <a href="/eboa_nav/query-gauges"><p class="fa
  fa-chevron-left"> Back to query gauges</p></a>
</div>
<div class="panel panel-green">
  <div class="panel-heading">
    Table of gauges
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover" id="sources">
      <thead>
        <tr>
          <th>Name</th>
          <th>System</th>
          <th>DIM signature</th>
          <th>UUID</th>
        </tr>
      </thead>
      <tbody>
        {% for gauge in gauges %}
        <tr>
          <td>{{ gauge.name }}</td>
          <td>{{ gauge.system }}</td>
          <td>{{ gauge.dim_signature.dim_signature }}</td>
          <td>{{ gauge.gauge_uuid }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>System</th>
          <th>DIM signature</th>
          <th>UUID</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
{% if show["network"] %}
<div class="panel panel-default">
  <div class="panel-heading">
    Network of gauges
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="network-gauges" id="gauges_nav_network">
    </div>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
{% endif %}
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
      {% if show["network"] %}
      {% with links=links %}
      {% include "graphs/gauges_to_json_for_network.js" %}
      {% endwith %}
      const gauges_for_network = gauges;

      vboa.create_gauge_network(gauges_for_network, "gauges_nav_network");
      {% endif %}
    </script>
{% endblock %}
