{% extends "eboa_nav/eboa_nav.html" %}
{% block li_active_events %}class="active"{% endblock %}
{% block div_active_events %}active{% endblock %}
{% block events_nav_content %}
<div>
  <a href="/eboa_nav/query-events"><p class="fa fa-chevron-left"> Back to query events</p></a>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Table of linked events
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <table width="100%" class="table table-striped table-bordered table-hover" id="events">
      <thead>
        <tr>
          <th></th>
          <th>Description</th>
          <th>Gauge name</th>
          <th>Gauge system</th>
          <th>Start</th>
          <th>Stop</th>
          <th>Ingestion Time</th>
          <th>Source</th>
          <th>Explicit Reference</th>
          <th>Linked events</th>
          <th>Event UUID</th>
        </tr>
      </thead>
      <tbody>
        {% for key in links %}
        {% for link in links[key] %}
        <tr>
          {% if key == "prime_events" %}
          {% set event = link %}
          {% set description = "PRIME" %}
          {% else %}
          {% set event = link["event"] %}
          {% if key == "linked_events" %}
          {% set description = "LINK FROM: " + link["link_name"] %}
          {% elif key == "events_linking" %}
          {% set description = "LINK TO: " + link["link_name"] %}
          {% endif %}
          {% endif %}
          <td>
            <i id="expand-values-linked-event-{{ event.event_uuid }}" class="fa fa-plus-square green" aria-hidden="true" onclick="vboa.expand_event_values('expand-values-linked-event-{{ event.event_uuid }}', '{{ event.event_uuid }}')" data-toggle="tooltip" title="Click to show the related values"></i>
          </td>
          <td>
            {{ description }}
          </td>
          <td>{{ event.gauge.name }}</td>
          <td>{{ event.gauge.system }}</td>
          <td>{{ event.start }}</td>
          <td>{{ event.stop }}</td>
          <td>{{ event.ingestion_time }}</td>
          {% set source_uuid = event.source.source_uuid %}
          <td><a href="/eboa_nav/query-source/{{ source_uuid }}">{{ event.source.name }}</a></td>
          <td>
            {% set er = "" %}
            {% if event.explicitRef %}
            {% set er = event.explicitRef.explicit_ref %}
            {% endif %}
            {{ er }}
          </td>
          <td><a href="/eboa_nav/query-event-links/{{ event.event_uuid }}"><i class="fa fa-link"></i></a></td>
          <td>{{ event.event_uuid }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>Description</th>
          <th>Gauge name</th>
          <th>Gauge system</th>
          <th>Start</th>
          <th>Stop</th>
          <th>Ingestion Time</th>
          <th>Source</th>
          <th>Explicit Reference</th>
          <th>Linked events</th>
          <th>Event UUID</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    Network of events
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="network" id="events_nav_network">
    </div>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    Timeline of events
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div id="events_nav_timeline">
    </div>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
      {% with links=links %}
      {% include "graphs/events_to_json_for_network.js" %}
      {% endwith %}
      const events_for_network = events;
      {% with events=events %}
      {% include "graphs/events_to_json_for_timeline.js" %}
      {% endwith %}
      const events_for_timeline = events;

      vboa.create_event_network(events_for_network, "events_nav_network");
      vboa.create_event_timeline(events_for_timeline, "events_nav_timeline");
    </script>
{% endblock %}
