<div class="col-lg-12" id="nav-annotations">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <form role="form" method=post action="/eboa_nav/query-annotations">
            <!-- Sources -->
            <div class="row query-sources">
              <div class="col-xs-3 query-source-names">
                <label id="annotations-sources-like-checkbox">Source like (<input type="checkbox" name="source_notlike_check"><span class="label-text"><b>Not like)</b></span></label>
                <input class="form-control" list="source-like-annotations" name="source_like" id="annotations-sources-like-text"/>
                <datalist id="source-like-annotations">
                </datalist>
              </div>
              <div class="col-xs-3 query-source-names">
                <label id="annotations-sources-in-checkbox">Sources (<input type="checkbox" name="source_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <select name="sources" data-placeholder="Select several options..." class="chosen-select" multiple="" tabidex="-1" id="annotations-sources-in-text">
                </select>
              </div>
            </div>
            <!-- Exlicit references -->
            <div class="row">
              <div class="col-xs-3 query-ers">
                <label id="annotations-explicit-refs-like-checkbox">Explicit reference like (<input type="checkbox" name="er_notlike_check"><span class="label-text"><b>Not like)</b></span></label>
                <input class="form-control" list="er-like-annotations" name="er_like" id="annotations-explicit-refs-like-text"/>
                <datalist id="er-like-annotations">
                </datalist>
              </div>
              <div class="col-xs-3 query-ers">
                <label id=annotations-explicit-refs-in-checkbox>Explicit references (<input type="checkbox" name="er_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <select name="ers" data-placeholder="Select several options..." class="chosen-select" multiple="" tabidex="-1" id="annotations-explicit-refs-in-text">
                </select>
              </div>
            </div>
            <!-- Annotation configurations -->
            <div class="row  query-annotation-cnfs">
              <div class="col-xs-3 query-annotation-names">
                <label id="annotations-annotation-names-like-checkbox">Annotation name like (<input type="checkbox" name="annotation_name_notlike_check"><span class="label-text"><b>Not like)</b></span></label>
                <input class="form-control" list="annotation-name-like-annotations" name="annotation_name_like" id="annotations-annotation-names-like-text"/>
                <datalist id="annotation-name-like-annotations">
                </datalist>
              </div>
              <div class="col-xs-3 query-annotation-systems">
                <label id="annotations-annotation-system-like-checkbox">Annotation system like (<input type="checkbox" name="annotation_system_notlike_check"><span class="label-text"><b>Not like)</b></span></label>
                <input class="form-control" list="annotation-system-like-annotations" name="annotation_system_like" id="annotations-annotation-system-like-text"/>
                <datalist id="annotation-system-like-annotations">
                </datalist>
              </div>
            </div>
            <div class="row query-annotation-cnfs">
              <div class="col-xs-3 query-annotation-names">
                <label id="annotations-annotation-names-in-checkbox">Annotation names (<input type="checkbox" name="annotation_name_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <select name="annotation_names" data-placeholder="Select several options..." class="chosen-select" multiple="" tabidex="-1" id="annotations-annotation-names-in-text">
                </select>
              </div>
              <div class="col-xs-3 query-annotation-systems">
                <label id="annotations-annotation-system-in-checkbox">Annotation systems (<input type="checkbox" name="annotation_system_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <select name="annotation_systems" data-placeholder="Select several options..." class="chosen-select" multiple="" tabidex="-1" id="annotations-annotation-system-in-text">
                </select>
              </div>
            </div>
            <!-- Values -->
            <div class="row" id="annotations-value-query-initial">
              <div class="col-xs-3">
                <label>Value type</label>
                <select style="width: 100%" name="annotation_value_type" id="value-type">
                  <option>text</option>
                  <option>timestamp</option>
                  <option>boolean</option>
                  <option>double</option>
                  <option>geometry</option>
                  <option>object</option>
                </select>
              </div>
              <div class="col-xs-3">
                <label>Value name</label>
                <div class="input-group" style="width: 100%">
                  <input class="form-control" style="width: 80%" name="annotation_value_name_like" id="value-name-text"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="annotation_value_name_like_op" id="value-name-option">
                    <option>like</option>
                    <option>notlike</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-3">
                <label>Value</label>
                <div class="input-group" style="width: 100%">
                  <input type="text" class="form-control" style="width: 80%" name="annotation_value" id="value-value-text"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="annotation_value_operator" id="value-value-operator">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
              <div>
                <span onclick="vboa.add_value_query_annotations('more-value-query-annotations')" id="annotations-add-value">
                  <span class="glyphicon glyphicon-plus"></span>
                </span>
              </div>
            </div>
            <div id="more-value-query-annotations">
            </div>
            <!-- Ingestion time -->
            <div class="row" id="annotations-ingestion-time-initial">
              {% include "eboa_nav/ingestion_time.html" %}
              <div>
                <span onclick="vboa.add_ingestion_time('more-ingestion-time-query-annotations')" id="annotations-add-ingestion-time">
                  <span class="glyphicon glyphicon-plus"></span>
                </span>
              </div>
            </div>
            <div id="more-ingestion-time-query-annotations">
            </div>
            <div>
              <label id="annotations-show-map">
                <input type="checkbox" name="show_map"><span class="label-text" ><b>Show map</b></span>
              </label>
            </div>
            <div>
              <button type="submit" class="btn btn-primary" style="margin-top: 12px" id="annotations-submit-button">Query</button>
            </div>
          </form>
        </div>
        <!-- /.col-lg-6 (nested) -->
      </div>
      <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<!-- /.panel -->
