<div class="col-lg-12" id="nav-events">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <form role="form" method=post action="/eboa_nav/query-events">
            <!-- Sources -->
            <div class="row query-sources">
              <div class="col-xs-3 query-source-names">
                <label>Source like (<input type="checkbox" name="source_notlike_check"><span class="label-text"><b>Not like)</b></span></label>
                <input class="form-control" list="source_like_events" name="source_like"/>
                <datalist id="source_like_events">
                </datalist>
              </div>
              <div class="col-xs-3 query-source-names">
                <label>Sources (<input type="checkbox" name="source_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <select name="sources" data-placeholder="Select several options..." class="chosen-select" multiple="" tabidex="-1">
                </select>
              </div>
            </div>
            <!-- Exlicit references -->
            <div class="row">
              <div class="col-xs-3 query-ers">
                <label>Explicit reference like (<input type="checkbox" name="er_notlike_check"><span class="label-text"><b>Not like)</b></span></label>
                <input class="form-control" list="er_like_events" name="er_like"/>
                <datalist id="er_like_events">
                </datalist>
              </div>
              <div class="col-xs-3 query-ers">
                <label>Explicit references (<input type="checkbox" name="er_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <select name="ers" data-placeholder="Select several options..." class="chosen-select" multiple="" tabidex="-1">
                </select>
              </div>
            </div>
            <!-- Event keys -->
            <div class="row">
              <div class="col-xs-3 query-keys">
                <label>Key like (<input type="checkbox" name="key_notlike_check"><span class="label-text"><b>Not like)</b></span></label>
                <input class="form-control" list="key_like_events" name="key_like"/>
                <datalist id="key_like_events">
                </datalist>
              </div>
              <div class="col-xs-3 query-keys">
                <label>Keys (<input type="checkbox" name="key_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <select name="keys" data-placeholder="Select several options..." class="chosen-select" multiple="" tabidex="-1">
                </select>
              </div>
            </div>
            <!-- Gauges -->
            <div>
              <div class="row  query-gauges">
                <div class="col-xs-3 query-gauge-names">
                  <label>Gauge name like (<input type="checkbox" name="gauge_name_notlike_check"><span class="label-text"><b>Not like)</b></span></label>
                  <input class="form-control" list="gauge_name_like_events" name="gauge_name_like"/>
                  <datalist id="gauge_name_like_events">
                  </datalist>
                </div>
                <div class="col-xs-3 query-gauge-systems">
                  <label>Gauge system like (<input type="checkbox" name="gauge_name_notlike_check"><span class="label-text"><b>Not like)</b></span></label>
                  <input class="form-control" list="gauge_system_like_events" name="gauge_system_like"/>
                  <datalist id="gauge_system_like_events">
                  </datalist>
                </div>
              </div>
              <div class="row query-gauges">
                <div class="col-xs-3 query-gauge-names">
                  <label>Gauge names (<input type="checkbox" name="gauge_name_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                  <select name="gauge_names" data-placeholder="Select several options..." class="chosen-select" multiple="" tabidex="-1">
                  </select>
                </div>
                <div class="col-xs-3 query-gauge-systems">
                  <label>Gauge systems (<input type="checkbox" name="gauge_name_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                  <select name="gauge_systems" data-placeholder="Select several options..." class="chosen-select" multiple="" tabidex="-1">
                  </select>
                </div>
              </div>
            </div>
            <!-- Values -->
            <div class="row">
              <div class="col-xs-3">
                  <label>Value type</label>
                  <select style="width: 100%" name="value_type">
                    <option>text</option>
                    <option>timestamp</option>
                    <option>boolean</option>
                    <option>double</option>
                    <option>geometry</option>
                    <option>object</option>
                  </select>
              </div>
              <div class="col-xs-3 query-event-values">
                <label>Value name like</label>
                <input class="form-control" list="value_name_like_events" name="value_name_like"/>
                <datalist id="value_name_like_events">
                </datalist>
              </div>
              <div class="col-xs-3">
                <label>Value</label>
                <div class="input-group" style="width: 100%">
                  <input type="text" class="form-control" style="width: 80%" name="value"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="value_operator">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
            </div>
            <!-- Start and stop -->
            <div class="row">
              {% include "eboa_nav/start_stop.html" %}
              <div>
                <span onclick="vboa.add_start_stop('more-start-stop-query-events')">
                  <span class="glyphicon glyphicon-plus"></span>
                </span>
              </div>
            </div>
            <div id="more-start-stop-query-events">
            </div>
            <div class="row">
              {% include "eboa_nav/ingestion_time.html" %}
              <div>
                <span onclick="vboa.add_ingestion_time('more-ingestion-time-query-events')">
                  <span class="glyphicon glyphicon-plus"></span>
                </span>
              </div>
            </div>
            <!-- Ingestion time -->
            <div id="more-ingestion-time-query-events">
            </div>
            <div>
              <label>
                <input type="checkbox" name="show_timeline" checked><span class="label-text"><b>Show timeline</b></span>
              </label>
            </div>
            <div>
              <button type="submit" class="btn btn-primary" style="margin-top: 12px">Query</button>
            </div>
          </form>
        </div>
        <!-- /.col-lg-6 (nested) -->
      </div>
      <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<!-- /.panel -->

