<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#{{ entity }}-alert-filters">Specific filters for querying {{ entity }} alerts<span class="fa fa-angle-double-down"></span></a>
    </h3>
  </div>
  <div class="panel-body panel-collapse collapse" id="{{ entity }}-alert-filters">
    <!-- Names -->
    <div class="row">
      <div class="col-xs-3">
        <label>Name</label>
        <div class="input-group" style="width: 100%">
          <input class="form-control" style="width: 80%" name="alert_name" id= "{{ entity }}-alerts-name-text"/>
          <select class="form-control" style="padding-left: 0; width: 20%" name="alert_name_operator" id="{{ entity }}-alerts-name-operator">
            {% include "eboa_nav/operators.html" %}
          </select>
        </div>
      </div>
      <div class="col-xs-3">
        <label id="{{ entity }}-alerts-names-in-checkbox">Names (<input type="checkbox" name="alert_name_notin_check"><span class="label-text"><b>Not in)</b></span></label>
        <input class="form-control" placeholder="Fill for searching items with exact matching" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-alerts-by-name', 'name', 20, 0)" id="{{ entity }}-alerts-names-in-text"/><i class="circle"></i>
        <select name="alert_names" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="{{ entity }}-alerts-names-in-select">
        </select>
      </div>
    </div>
    <!-- Groups -->
    <div class="row">
      <div class="col-xs-3">
        <label>Group</label>
        <div class="input-group" style="width: 100%">
          <input class="form-control" style="width: 80%" name="alert_group" id="{{ entity }}-alerts-group-text"/>
          <select class="form-control" style="padding-left: 0; width: 20%" name="alert_group_operator" id="{{ entity }}-alerts-group-operator">
            {% include "eboa_nav/operators.html" %}
          </select>
        </div>
      </div>
      <div class="col-xs-3">
        <label id="{{ entity }}-alerts-groups-in-checkbox">Groups (<input type="checkbox" name="alert_group_notin_check"><span class="label-text"><b>Not in)</b></span></label>
        <input class="form-control" placeholder="Fill for searching items with exact matching" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-alerts-by-group', 'group', 20, 0)" id="{{ entity }}-alerts-groups-in-text"/><i class="circle"></i>
        <select name="alert_groups" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="{{ entity }}-alerts-groups-in-select">
        </select>
      </div>
    </div>
    <!-- Generators -->
    <div class="row">
      <div class="col-xs-3">
        <label>Generator</label>
        <div class="input-group" style="width: 100%">
          <input class="form-control" style="width: 80%" name="alert_generator" id="{{ entity }}-alerts-generator-text"/>
          <select class="form-control" style="padding-left: 0; width: 20%" name="alert_generator_operator" id="{{ entity }}-alerts-generator-operator">
            {% include "eboa_nav/operators.html" %}
          </select>
        </div>
      </div>
      <div class="col-xs-3">
        <label id="{{ entity }}-alerts-generators-in-checkbox">Generators (<input type="checkbox" name="alert_generator_notin_check"><span class="label-text"><b>Not in)</b></span></label>
        <input class="form-control" placeholder="Fill for searching items with exact matching" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-{{ entity }}-alerts', 'generator', 20, 0)" id="{{ entity }}-alerts-generators-in-text"/><i class="circle"></i>
        <select name="alert_generators" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="{{ entity }}-alerts-generators-in-select">
        </select>
      </div>
    </div>
    <!-- Ingestion time -->
    <div class="row" id="{{ entity }}-alerts-ingestion-time-initial">
      <div class="col-xs-3">
        <label>Ingestion time</label>
        <div class="input-group date">
          <input type="text" class="form-control" name="alert_ingestion_time" id="{{ entity }}-alerts-ingestion-time-text"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
          <div>
            <select class="form-control" style="padding-left: 0" name="alert_ingestion_time_operator" id="{{ entity }}-alerts-ingestion-time-operator">
              {% include "eboa_nav/operators.html" %}
            </select>
          </div>
        </div>
      </div>
      <div>
        <span onclick="vboa.add_ingestion_time('more-ingestion-time-query-{{ entity }}-alerts')" id="{{ entity }}-alerts-add-ingestion-time">
          <span class="glyphicon glyphicon-plus"></span>
        </span>
      </div>
    </div>
    <div id="more-ingestion-time-query-{{ entity }}-alerts">
    </div>
    <!-- Solved time -->
    <div class="row" id="{{ entity }}-alerts-solved-time-initial">
      <div class="col-xs-3">
          <label>Solved time</label>
          <div class="input-group date">
            <input type="text" class="form-control"  name="alert_solved_time" id="{{ entity }}-alerts-solved-time-text"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <div>
              <select class="form-control" style="padding-left: 0" name="alert_solved_time_operator" id="{{ entity }}-alerts-solved-time-operator">
                {% include "eboa_nav/operators.html" %}
              </select>
            </div>
          </div>
        </div>
      <div>
        <span onclick="vboa.add_solved_time('more-solved-time-query-{{ entity }}-alerts')" id="{{ entity }}-alerts-add-solved-time">
          <span class="glyphicon glyphicon-plus"></span>
        </span>
      </div>
    </div>
    <div id="more-solved-time-query-{{ entity }}-alerts">
    </div>
    <!-- Notification time -->
    <div class="row" id="{{ entity }}-alerts-notification-time-initial">
      <div class="col-xs-3">
          <label>Notification time</label>
          <div class="input-group date">
            <input type="text" class="form-control"  name="alert_notification_time" id="{{ entity }}-alerts-notification-time-text"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <div>
              <select class="form-control" style="padding-left: 0" name="alert_notification_time_operator" id="{{ entity }}-alerts-notification-time-operator">
                {% include "eboa_nav/operators.html" %}
              </select>
            </div>
          </div>
        </div>
      <div>
        <span onclick="vboa.add_notification_time('more-notification-time-query-{{ entity }}-alerts')" id="{{ entity }}-alerts-add-notification-time">
          <span class="glyphicon glyphicon-plus"></span>
        </span>
      </div>
    </div>
    <div id="more-notification-time-query-{{ entity }}-alerts">
    </div>
    <!-- Validated -->
    <div class="row">
      <div class="col-xs-3 query-alert-validated">
        <label>Validated</label>
        <select style="width: 100%" name="alert_validated" id="{{ entity }}-alerts-sources-validated">
          <option></option>
          <option>true</option>
          <option>false</option>
        </select>
      </div>
    </div>
    <!-- Notified -->
    <div class="row">
      <div class="col-xs-3 query-alert-notified">
        <label>Notified</label>
        <select style="width: 100%" name="alert_notified" id="{{ entity }}-alerts-sources-notified">
          <option></option>
          <option>true</option>
          <option>false</option>
        </select>
      </div>
    </div>
    <!-- Solved -->
    <div class="row">
      <div class="col-xs-3 query-alert-solved">
        <label>Solved</label>
        <select style="width: 100%" name="alert_solved" id="{{ entity }}-alerts-sources-solved">
          <option></option>
          <option>true</option>
          <option>false</option>
        </select>
      </div>
    </div>
    <!-- Severities -->
    <div class="row" id="{{ entity }}-alerts-severities-initial">
      <div class="col-xs-3 query-alert-severities">
        <label id="{{ entity }}-alerts-severities-initial-checkbox">Severities (<input type="checkbox" name="alert_severity_notin_check"><span class="label-text"><b>Not in)</b></span></label>
        <select name="alert_severities" data-placeholder="Select several options..." class="chosen-select" multiple="" tabidex="-1" id="{{ entity }}-alerts-severities-initial-in-text">
        </select>
      </div>
    </div>
  </div>            
</div>