<div class="col-lg-12" id="nav-events">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <form role="form" method=post action="/eboa_nav/query-dim-signatures">
            <div class="row">
              <div class="col-xs-3 query-dim-signatures">
                <label>DIM signature like</label>
                <input class="form-control" list="dim_signature_like_dims" name="dim_signature_like"/>
                <datalist id="dim_signature_like_dims">
                </datalist>
              </div>
              <div class="col-xs-3 query-dim-signatures">
                <label>DIM signatures</label>
                <select name="dim_signatures" data-placeholder="Select several options..." class="chosen-select" multiple="" tabidex="-1">
                </select>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary" style="margin-top: 12px">Query</button>
            </div>
          </form>
        </div>
        <!-- /.col-lg-6 (nested) -->
      </div>
      <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<!-- /.panel -->

