<div class="col-lg-12" id="nav-events">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <form role="form" method=post action="/eboa_nav/query-events">
            <!-- Sources -->
            <div class="row">
              <div class="col-xs-3">
                <label>Source</label>
                <div class="input-group" style="width: 100%">
                  <input class="form-control" style="width: 80%" name="source" id="events-source-name-text"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="source_operator" id="events-source-operator">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
              <div class="col-xs-3">
                <label id="events-sources-in-checkbox">Sources (<input type="checkbox" name="source_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <input class="form-control" placeholder="Fill for searching items... Showing 20 items on keyup" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-sources', 'name', 20, 0)" id="events-sources-in-text"/><i class="circle"></i>
                <select name="sources" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="events-sources-in-select">
                </select>
              </div>
            </div>
            <!-- Exlicit references -->
            <div class="row">
              <div class="col-xs-3">
                <label>Explicit reference</label>
                <div class="input-group" style="width: 100%">
                  <input class="form-control" style="width: 80%" name="er" id="events-er-text"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="er_operator" id="events-er-operator">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
              <div class="col-xs-3">
                <label id="events-explicit-refs-in-checkbox">Explicit references (<input type="checkbox" name="er_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <input class="form-control" placeholder="Fill for searching items... Showing 20 items on keyup" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-ers', 'explicit_ref', 20, 0)" id="events-ers-in-text"/><i class="circle"></i>
                <select name="ers" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="events-ers-in-select">
                </select>
              </div>
            </div>
            <!-- Event keys -->
            <div class="row">
              <div class="col-xs-3">
                <label>Key</label>
                <div class="input-group" style="width: 100%">
                  <input class="form-control" style="width: 80%" name="key" id="events-key-text"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="key_operator" id="events-key-operator">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
              <div class="col-xs-3">
                <label id="events-event-keys-in-checkbox">Keys (<input type="checkbox" name="key_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <input class="form-control" placeholder="Fill for searching items... Showing 20 items on keyup" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-keys', 'event_key', 20, 0)" id="events-keys-in-text"/><i class="circle"></i>
                <select name="keys" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="events-keys-in-select">
                </select>
              </div>
            </div>
            <!-- Gauges -->
            <div>
              <div class="row">
                <div class="col-xs-3">
                  <label>Gauge name</label>
                  <div class="input-group" style="width: 100%">
                    <input class="form-control" style="width: 80%" name="gauge_name" id="events-gauge-name-text"/>
                    <select class="form-control" style="padding-left: 0; width: 20%" name="gauge_name_operator" id="events-gauge-name-operator">
                      {% include "eboa_nav/operators.html" %}
                    </select>
                  </div>
                </div>
                <div class="col-xs-3">
                  <label>Gauge system</label>
                  <div class="input-group" style="width: 100%">
                    <input class="form-control" style="width: 80%" name="gauge_system" id="events-gauge-system-text"/>
                    <select class="form-control" style="padding-left: 0; width: 20%" name="gauge_system_operator" id="events-gauge-system-operator">
                      {% include "eboa_nav/operators.html" %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                  <label id="events-gauge-names-in-checkbox">Gauge names (<input type="checkbox" name="gauge_name_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                  <input class="form-control" placeholder="Fill for searching items... Showing 20 items on keyup" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-gauges-by-name', 'name', 20, 0)" id="events-gauge-names-in-text"/><i class="circle"></i>
                  <select name="gauge_names" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="events-gauge-names-in-select">
                  </select>
                </div>
                <div class="col-xs-3">
                  <label id="events-gauge-system-in-checkbox">Gauge systems (<input type="checkbox" name="gauge_system_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                  <input class="form-control" placeholder="Fill for searching items... Showing 20 items on keyup" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-gauges-by-system', 'system', 20, 0)" id="events-gauge-systems-in-text"/><i class="circle"></i>
                  <select name="gauge_systems" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="events-gauge-systems-in-select">
                  </select>
                </div>
              </div>
            </div>
            <!-- Values -->
            <div class="row" id="events-value-query-initial">
              <div class="col-xs-3">
                  <label>Value type</label>
                  <select style="width: 100%" name="event_value_type" id="value-type">
                    <option>text</option>
                    <option>timestamp</option>
                    <option>boolean</option>
                    <option>double</option>
                    <option>geometry</option>
                    <option>object</option>
                  </select>
              </div>
              <div class="col-xs-3">
                <label>Value name</label>
                <div class="input-group" style="width: 100%">
                  <input class="form-control" style="width: 80%" name="event_value_name" id="value-name-text"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="event_value_name_op" id="value-name-option">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
              <div class="col-xs-3">
                <label>Value</label>
                <div class="input-group" style="width: 100%">
                  <input type="text" class="form-control" style="width: 80%" name="event_value" id="value-value-text"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="event_value_operator" id="value-value-operator">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
              <div>
                <span onclick="vboa.add_value_query_events('more-value-query-events')" id="events-add-value">
                  <span class="glyphicon glyphicon-plus"></span>
                </span>
              </div>
            </div>
            <div id="more-value-query-events">
            </div>
            <!-- Start and stop -->
            <div class="row" id="events-start-stop-initial">
              {% include "eboa_nav/start_stop.html" %}
              <div>
                <span onclick="vboa.add_start_stop('more-start-stop-query-events')" id="events-add-start-stop">
                  <span class="glyphicon glyphicon-plus"></span>
                </span>
              </div>
            </div>
            <div id="more-start-stop-query-events">
            </div>
            <!-- Event duration -->
            <div class="row" id="events-duration-initial">
              {% include "eboa_nav/event_duration.html" %}
              <div>
                <span onclick="vboa.add_event_duration('more-event-duration-query-events')" id="events-add-duration">
                  <span class="glyphicon glyphicon-plus"></span>
                </span>
              </div>
            </div>
            <div id="more-event-duration-query-events">
            </div>
            <!-- Ingestion time -->
            <div class="row" id="events-ingestion-time-initial">
              {% include "eboa_nav/ingestion_time.html" %}
              <div>
                <span onclick="vboa.add_ingestion_time('more-ingestion-time-query-events')" id="events-add-ingestion-time">
                  <span class="glyphicon glyphicon-plus"></span>
                </span>
              </div>
            </div>
            <div id="more-ingestion-time-query-events">
            </div>
            <div>
              <label id="events-show-timeline">
                <input type="checkbox" name="show_timeline" checked><span class="label-text"><b>Show timeline</b></span>
              </label>
            </div>
            <div>
              <label id="events-show-map">
                <input type="checkbox" name="show_map"><span class="label-text" ><b>Show map</b></span>
              </label>
            </div>
            <!-- Query restrictions -->
            <div class="row" id="events-query-restrictions">
              <!-- Order by -->
              <div class="col-xs-3">
                  <label>Order by (<input type="checkbox" name="order_descending" checked><span class="label-text"><b>Descending)</b></span></label>
                  <select style="width: 100%" name="order_by" id="events-order-by">
                    <option></option>
                    <option>start</option>
                    <option>stop</option>
                    <option>ingestion_time</option>
                  </select>
              </div>
              <!-- Limit -->
              <div class="col-xs-3">
                <label>Limit</label>
                <input type="text" class="form-control" style="width: 100%" name="limit" id="events-limit" value="100"/>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary" style="margin-top: 12px" id="events-submit-button">Query</button>
            </div>
          </form>
        </div>
        <!-- /.col-lg-6 (nested) -->
      </div>
      <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<!-- /.panel -->
