<div class="col-lg-12" id="nav-annotations">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <form role="form" method=post action="/eboa_nav/query-annotations">
            <!-- Sources -->
            <div class="row query-sources">
              <div class="col-xs-3 query-source-names">
                <label>Source like (<input type="checkbox" name="source_notlike_check"><span class="label-text"><b>Not like)</b></span></label>
                <input class="form-control" list="source_like_annotations" name="source_like"/>
                <datalist id="source_like_annotations">
                </datalist>
              </div>
              <div class="col-xs-3 query-source-names">
                <label>Sources (<input type="checkbox" name="source_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <select name="sources" data-placeholder="Select several options..." class="chosen-select" multiple="" tabidex="-1">
                </select>
              </div>
            </div>
            <!-- Exlicit references -->
            <div class="row">
              <div class="col-xs-3 query-ers">
                <label>Explicit reference like (<input type="checkbox" name="er_notlike_check"><span class="label-text"><b>Not like)</b></span></label>
                <input class="form-control" list="er_like_annotations" name="er_like"/>
                <datalist id="er_like_annotations">
                </datalist>
              </div>
              <div class="col-xs-3 query-ers">
                <label>Explicit references (<input type="checkbox" name="er_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <select name="ers" data-placeholder="Select several options..." class="chosen-select" multiple="" tabidex="-1">
                </select>
              </div>
            </div>
            <!-- Annotation configurations -->
            <div>
              <div class="row  query-annotation-cnfs">
                <div class="col-xs-3 query-annotation-names">
                  <label>Annotation name like (<input type="checkbox" name="annotation_name_notlike_check"><span class="label-text"><b>Not like)</b></span></label>
                  <input class="form-control" list="annotation_name_like_annotations" name="annotation_name_like"/>
                  <datalist id="annotation_name_like_annotations">
                  </datalist>
                </div>
                <div class="col-xs-3 query-annotation-systems">
                  <label>Annotation system like (<input type="checkbox" name="annotation_system_notlike_check"><span class="label-text"><b>Not like)</b></span></label>
                  <input class="form-control" list="annotation_system_like_annotations" name="annotation_system_like"/>
                  <datalist id="annotation_system_like_annotations">
                  </datalist>
                </div>
              </div>
              <div class="row query-annotation-cnfs">
                <div class="col-xs-3 query-annotation-names">
                  <label>Annotation names (<input type="checkbox" name="annotation_name_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                  <select name="annotation_names" data-placeholder="Select several options..." class="chosen-select" multiple="" tabidex="-1">
                  </select>
                </div>
                <div class="col-xs-3 query-annotation-systems">
                  <label>Annotation systems (<input type="checkbox" name="annotation_system_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                  <select name="annotation_systems" data-placeholder="Select several options..." class="chosen-select" multiple="" tabidex="-1">
                  </select>
                </div>
              </div>
            </div>
            <!-- Values -->
            <div class="row">
              <div class="col-xs-3">
                  <label>Value type</label>
                  <select style="width: 100%" name="value_type">
                    <option>text</option>
                    <option>timestamp</option>
                    <option>boolean</option>
                    <option>double</option>
                    <option>geometry</option>
                    <option>object</option>
                  </select>
              </div>
              <div class="col-xs-3">
                <label>Value name</label>
                <div class="input-group" style="width: 100%">
                  <input class="form-control" style="width: 80%" name="value_name_like"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="value_name_like_op">
                    <option>like</option>
                    <option>notlike</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-3">
                <label>Value</label>
                <div class="input-group" style="width: 100%">
                  <input type="text" class="form-control" style="width: 80%" name="value"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="value_operator">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
              <div>
                <span onclick="vboa.add_value_query_annotations('more-value-query-annotations')">
                  <span class="glyphicon glyphicon-plus"></span>
                </span>
              </div>
            </div>
            <div id="more-value-query-annotations">
            </div>
            <!-- Ingestion time -->
            <div class="row">
              {% include "eboa_nav/ingestion_time.html" %}
              <div>
                <span onclick="vboa.add_ingestion_time('more-ingestion-time-query-annotations')">
                  <span class="glyphicon glyphicon-plus"></span>
                </span>
              </div>
            </div>
            <div id="more-ingestion-time-query-annotations">
            </div>
            <div>
              <button type="submit" class="btn btn-primary" style="margin-top: 12px">Query</button>
            </div>
          </form>
        </div>
        <!-- /.col-lg-6 (nested) -->
      </div>
      <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<!-- /.panel -->

