<div class="col-lg-12" id="nav-explicit-references">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <form role="form" method=post action="/eboa_nav/query-ers">
            <!-- Exlicit references -->
            <div class="row">
              <div class="col-xs-3">
                <label>Explicit reference</label>
                <div class="input-group" style="width: 100%">
                  <input class="form-control" style="width: 80%" name="er" id="explicit-refs-er-text"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="er_operator" id="explicit-refs-er-operator">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
              <div class="col-xs-3">
                <label id="explicit-refs-ers-in-checkbox">Explicit references (<input type="checkbox" name="er_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <input class="form-control" placeholder="Fill for searching items with exact matching" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-ers', 'explicit_ref', 20, 0)" id="explicit-refs-ers-in-text"/><i class="circle"></i>
                <select name="ers" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="explicit-refs-ers-in-select">
                </select>
              </div>
            </div>
            <!-- Configuration -->
            <div class="row">
              <div class="col-xs-3">
                <label>Group</label>
                <div class="input-group" style="width: 100%">
                  <input class="form-control" style="width: 80%" name="group" id="explicit-refs-group-text"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="group_operator" id="explicit-refs-group-operator">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
              <div class="col-xs-3">
                <label id="explicit-refs-groups-in-checkbox">Groups (<input type="checkbox" name="group_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <input class="form-control" placeholder="Fill for searching items... Showing 20 items on keyup" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-er-groups', 'name', 20, 0)" id="explicit-refs-groups-in-text"/><i class="circle"></i>
                <select name="groups" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="explicit-refs-groups-in-select">
                </select>
              </div>
            </div>
            <!-- Sources -->
            <div class="row">
              <div class="col-xs-3">
                <label>Source</label>
                <div class="input-group" style="width: 100%">
                  <input class="form-control" style="width: 80%" name="source" id="explicit-refs-source-text"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="source_operator" id="explicit-refs-source-operator">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
              <div class="col-xs-3">
                <label id="explicit-refs-sources-in-checkbox">Sources (<input type="checkbox" name="source_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <input class="form-control" placeholder="Fill for searching items with exact matching" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-sources', 'name', 20, 0)" id="explicit-refs-sources-in-text"/><i class="circle"></i>
                <select name="sources" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="explicit-refs-sources-in-select">
                </select>
              </div>
            </div>
            <!-- Event filters -->
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">Specify search by using event filters</div>
                <div class="panel-body">
                  <!-- Event keys -->
                  <div class="row">
                    <div class="col-xs-3">
                      <label>Key</label>
                      <div class="input-group" style="width: 100%">
                        <input class="form-control" style="width: 80%" name="key" id="explicit-refs-key-text"/>
                        <select class="form-control" style="padding-left: 0; width: 20%" name="key_operator" id="explicit-refs-key-operator">
                          {% include "eboa_nav/operators.html" %}
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <label id="explicit-refs-keys-in-checkbox">Keys (<input type="checkbox" name="key_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                      <input class="form-control" placeholder="Fill for searching items with exact matching" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-keys', 'event_key', 20, 0)" id="explicit-refs-keys-in-text"/><i class="circle"></i>
                      <select name="keys" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="explicit-refs-keys-in-select">
                      </select>
                    </div>
                  </div>
                  <!-- Gauges -->
                  <div>
                    <div class="row ">
                      <div class="col-xs-3">
                        <label>Gauge name</label>
                        <div class="input-group" style="width: 100%">
                          <input class="form-control" style="width: 80%" name="gauge_name" id="explicit-refs-gauge-name-text"/>
                          <select class="form-control" style="padding-left: 0; width: 20%" name="gauge_name_operator" id="explicit-refs-gauge-name-operator">
                            {% include "eboa_nav/operators.html" %}
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-3">
                        <label id="explicit-refs-gauge-names-in-checkbox">Gauge names (<input type="checkbox" name="gauge_name_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                        <input class="form-control" placeholder="Fill for searching items... Showing 20 items on keyup" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-gauges-by-name', 'name', 20, 0)" id="explicit-refs-gauge-names-in-text"/><i class="circle"></i>
                        <select name="gauge_names" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="explicit-refs-gauge-names-in-select">
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-3">
                        <label>Gauge system</label>
                        <div class="input-group" style="width: 100%">
                          <input class="form-control" style="width: 80%" name="gauge_system" id="explicit-refs-gauge-system-text"/>
                          <select class="form-control" style="padding-left: 0; width: 20%" name="gauge_system_operator" id="explicit-refs-gauge-system-operator">
                            {% include "eboa_nav/operators.html" %}
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-3">
                        <label id="explicit-refs-gauge-systems-in-checkbox">Gauge systems (<input type="checkbox" name="gauge_system_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                        <input class="form-control" placeholder="Fill for searching items... Showing 20 items on keyup" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-gauges-by-system', 'system', 20, 0)" id="explicit-refs-gauge-systems-in-text"/><i class="circle"></i>
                        <select name="gauge_systems" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="explicit-refs-gauge-systems-in-select">
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- Values -->
                  <div class="row" id="explicit-refs-events-value-query-initial">
                    <div class="col-xs-3">
                      <label>Value type</label>
                      <select style="width: 100%" name="event_value_type" id="value-type">
                        <option>text</option>
                        <option>timestamp</option>
                        <option>boolean</option>
                        <option>double</option>
                        <option>geometry</option>
                        <option>object</option>
                      </select>
                    </div>
                    <div class="col-xs-3">
                      <label>Value name</label>
                      <div class="input-group" style="width: 100%">
                        <input class="form-control" style="width: 80%" name="event_value_name" id="value-name-text"/>
                        <select class="form-control" style="padding-left: 0; width: 20%" name="event_value_name_op" id="value-name-option">
                          {% include "eboa_nav/operators.html" %}
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <label>Value</label>
                      <div class="input-group" style="width: 100%">
                        <input type="text" class="form-control" style="width: 80%" name="event_value" id="value-value-text"/>
                        <select class="form-control" style="padding-left: 0; width: 20%" name="event_value_operator" id="value-value-operator">
                          {% include "eboa_nav/operators.html" %}
                        </select>
                      </div>
                    </div>
                    <div>
                      <span onclick="vboa.add_value_query_events('more-value-query-explicit-refs-events')" id="explicit-refs-events-add-value">
                        <span class="glyphicon glyphicon-plus"></span>
                      </span>
                    </div>
                  </div>
                  <div id="more-value-query-explicit-refs-events">
                  </div>
                  <!-- Start and stop -->
                  <div class="row" id="explicit-refs-events-start-stop-initial">
                    {% include "eboa_nav/start_stop.html" %}
                    <div>
                      <span onclick="vboa.add_start_stop('more-start-stop-query-explicit-refs-events')" id="explicit-refs-events-start-stop-add-value">
                        <span class="glyphicon glyphicon-plus"></span>
                      </span>
                    </div>
                  </div>
                  <div id="more-start-stop-query-explicit-refs-events">
                  </div>
                  <!-- Event duration -->
                  <div class="row" id="explicit-refs-events-duration-initial">
                    {% include "eboa_nav/event_duration.html" %}
                    <div>
                      <span onclick="vboa.add_event_duration('more-event-duration-query-explicit-refs')" id="explicit-refs-events-duration-add-value">
                        <span class="glyphicon glyphicon-plus"></span>
                      </span>
                    </div>
                  </div>
                  <div id="more-event-duration-query-explicit-refs">
                  </div>
                </div>
              </div>
              <!-- Annotation filters -->
              <div class="panel panel-default">
                <div class="panel-heading">Specify search by using annotation filters</div>
                <div class="panel-body">
                  <!-- Annotation configurations -->
                  <div class="row ">
                    <div class="col-xs-3">
                      <label>Annotation name</label>
                      <div class="input-group" style="width: 100%">
                        <input class="form-control" style="width: 80%" name="annotation_name" id="explicit-refs-annotation-name-text"/>
                        <select class="form-control" style="padding-left: 0; width: 20%" name="annotation_name_operator" id="explicit-refs-annotation-name-operator">
                          {% include "eboa_nav/operators.html" %}
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <label id="explicit-refs-annotation-names-in-checkbox">Annotation names (<input type="checkbox" name="annotation_name_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                      <input class="form-control" placeholder="Fill for searching items... Showing 20 items on keyup" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-annotation-cnfs-by-name', 'name', 20, 0)" id="explicit-refs-annotation-names-in-text"/><i class="circle"></i>
                      <select name="annotation_names" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="explicit-refs-annotation-names-in-select">
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3">
                      <label>Annotation system</label>
                      <div class="input-group" style="width: 100%">
                        <input class="form-control" style="width: 80%" name="annotation_system" id="explicit-refs-annotation-system-text"/>
                        <select class="form-control" style="padding-left: 0; width: 20%" name="annotation_system_operator" id="explicit-refs-annotation-system-operator">
                          {% include "eboa_nav/operators.html" %}
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <label id="explicit-refs-annotation-systems-in-checkbox">Annotation systems (<input type="checkbox" name="annotation_system_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                      <input class="form-control" placeholder="Fill for searching items... Showing 20 items on keyup" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-annotation-cnfs-by-system', 'system', 20, 0)" id="explicit-refs-annotation-systems-in-text"/><i class="circle"></i>
                      <select name="annotation_systems" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="explicit-refs-annotation-systems-in-select">
                      </select>
                    </div>
                  </div>
                  <!-- Values -->
                  <div class="row" id="explicit-refs-annotations-value-query-initial">
                    <div class="col-xs-3">
                      <label>Value type</label>
                      <select style="width: 100%" name="annotation_value_type" id="value-type">
                        <option>text</option>
                        <option>timestamp</option>
                        <option>boolean</option>
                        <option>double</option>
                        <option>geometry</option>
                        <option>object</option>
                      </select>
                    </div>
                    <div class="col-xs-3">
                      <label>Value name</label>
                      <div class="input-group" style="width: 100%">
                        <input class="form-control" style="width: 80%" name="annotation_value_name" id="value-name-text"/>
                        <select class="form-control" style="padding-left: 0; width: 20%" name="annotation_value_name_op" id="value-name-option">
                          {% include "eboa_nav/operators.html" %}
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <label>Value</label>
                      <div class="input-group" style="width: 100%">
                        <input type="text" class="form-control" style="width: 80%" name="annotation_value" id="value-value-text"/>
                        <select class="form-control" style="padding-left: 0; width: 20%" name="annotation_value_operator" id="value-value-operator">
                          {% include "eboa_nav/operators.html" %}
                        </select>
                      </div>
                    </div>
                    <div>
                      <span onclick="vboa.add_value_query_annotations('more-value-query-explicit-refs-annotations')" id="explicit-refs-annotations-add-value">
                        <span class="glyphicon glyphicon-plus"></span>
                      </span>
                    </div>
                  </div>
                  <div id="more-value-query-explicit-refs-annotations">
                  </div>
                </div>
              </div>
            </div>
            <div class="row" id="explicit-refs-annotations-ingestion-time-initial">
              {% include "eboa_nav/ingestion_time.html" %}
              <div>
                <span onclick="vboa.add_ingestion_time('more-ingestion-time-query-explicit-refs')" id="explicit-refs-annotations-add-ingestion-time">
                  <span class="glyphicon glyphicon-plus"></span>
                </span>
              </div>
            </div>
            <div id="more-ingestion-time-query-explicit-refs">
            </div>
            <!-- Query restrictions -->
            <div class="row" id="explicit-refs-query-restrictions">
              <!-- Order by -->
              <div class="col-xs-3">
                  <label>Order by (<input type="checkbox" name="order_descending" checked><span class="label-text"><b>Descending)</b></span></label>
                  <select style="width: 100%" name="order_by" id="explicit-refs-order-by">
                    <option></option>
                    <option>explicit_ref</option>
                    <option>ingestion_time</option>
                  </select>
              </div>
              <!-- Limit -->
              <div class="col-xs-3">
                <label>Limit</label>
                <input type="text" class="form-control" style="width: 100%" name="limit" id="explicit-refs-limit" value="100"/>
              </div>
            </div>
            <!-- Specific alert filters -->
            <div class="panel-group" style="margin-top: 12px">
              {% with entity="explicit-ref", url_prefix="eboa_nav" %}
              {% include "eboa_nav/query_alerts_content.html" %}
              {% endwith %}
            </div>
            <div>
              <button type="submit" class="btn btn-primary" style="margin-top: 12px" id="explicit-refs-submit-button" name="query_explicit_refs">Query explicit references</button>
	            <button type="submit" class="btn btn-primary" style="margin-top: 12px" id="explicit-ref-alerts-submit-button" name="query_explicit_ref_alerts">Query explicit reference alerts</button>
            </div>
          </form>
        </div>
        <!-- /.col-lg-6 (nested) -->
      </div>
      <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<!-- /.panel -->
