<div class="col-lg-12" id="nav-annotations">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <form role="form" method=post action="/eboa_nav/query-annotations">
            <!-- Sources -->
            <div class="row">
              <div class="col-xs-3">
                <label>Source</label>
                <div class="input-group" style="width: 100%">
                  <input class="form-control" style="width: 80%" name="source" id="annotations-source-name-text"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="source_operator" id="annotations-source-operator">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
              <div class="col-xs-3">
                <label id="annotations-sources-in-checkbox">Sources (<input type="checkbox" name="source_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <input class="form-control" placeholder="Fill for searching items... Showing 20 items on keyup" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-sources', 'name', 20, 0)" id="annotations-sources-in-text"/><i class="circle"></i>
                <select name="sources" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="annotations-sources-in-select">
                </select>
              </div>
            </div>
            <!-- Exlicit references -->
            <div class="row">
              <div class="col-xs-3">
                <label>Explicit reference</label>
                <div class="input-group" style="width: 100%">
                  <input class="form-control" style="width: 80%" name="er" id="annotations-er-text"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="er_operator" id="annotations-er-operator">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
              <div class="col-xs-3">
                <label id=annotations-explicit-refs-in-checkbox>Explicit references (<input type="checkbox" name="er_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <input class="form-control" placeholder="Fill for searching items... Showing 20 items on keyup" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-ers', 'explicit_ref', 20, 0)" id="annotations-ers-in-text"/><i class="circle"></i>
                <select name="ers" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="annotations-ers-in-select">
                </select>
              </div>
            </div>
            <!-- Annotation configurations -->
            <div class="row">
              <div class="col-xs-3">
                <label>Annotation name</label>
                <div class="input-group" style="width: 100%">
                  <input class="form-control" style="width: 80%" name="annotation_name" id="annotations-annotation-name-text"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="annotation_name_operator" id="annotations-annotation-name-operator">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
              <div class="col-xs-3">
                <label>Annotation system</label>
                <div class="input-group" style="width: 100%">
                  <input class="form-control" style="width: 80%" name="annotation_system" id="annotations-annotation-system-text"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="annotation_system_operator" id="annotations-annotation-system-operator">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <label id="annotations-annotation-names-in-checkbox">Annotation names (<input type="checkbox" name="annotation_name_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <input class="form-control" placeholder="Fill for searching items... Showing 20 items on keyup" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-annotation-cnfs-by-name', 'name', 20, 0)" id="annotations-annotation-names-in-text"/><i class="circle"></i>
                <select name="annotation_names" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="annotations-annotation-names-in-select">
                </select>
              </div>
              <div class="col-xs-3">
                <label id="annotations-annotation-system-in-checkbox">Annotation systems (<input type="checkbox" name="annotation_system_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <input class="form-control" placeholder="Fill for searching items... Showing 20 items on keyup" onkeyup="vboa.fill_elements_into_selector(this, '/eboa_nav/query-jsonify-annotation-cnfs-by-system', 'system', 20, 0)" id="annotations-annotation-systems-in-text"/><i class="circle"></i>
                <select name="annotation_systems" data-placeholder="Select several options..." size="4" hidden multiple="" tabidex="-1" id="annotations-annotation-systems-in-select">
                </select>
              </div>
            </div>
            <!-- Values -->
            <div class="row" id="annotations-value-query-initial">
              <div class="col-xs-3">
                <label>Value type</label>
                <select style="width: 100%" name="annotation_value_type" id="value-type">
                  <option>text</option>
                  <option>timestamp</option>
                  <option>boolean</option>
                  <option>double</option>
                  <option>geometry</option>
                  <option>object</option>
                </select>
              </div>
              <div class="col-xs-3">
                <label>Value name</label>
                <div class="input-group" style="width: 100%">
                  <input class="form-control" style="width: 80%" name="annotation_value_name" id="value-name-text"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="annotation_value_name_op" id="value-name-option">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
              <div class="col-xs-3">
                <label>Value</label>
                <div class="input-group" style="width: 100%">
                  <input type="text" class="form-control" style="width: 80%" name="annotation_value" id="value-value-text"/>
                  <select class="form-control" style="padding-left: 0; width: 20%" name="annotation_value_operator" id="value-value-operator">
                    {% include "eboa_nav/operators.html" %}
                  </select>
                </div>
              </div>
              <div>
                <span onclick="vboa.add_value_query_annotations('more-value-query-annotations')" id="annotations-add-value">
                  <span class="glyphicon glyphicon-plus"></span>
                </span>
              </div>
            </div>
            <div id="more-value-query-annotations">
            </div>
            <!-- Ingestion time -->
            <div class="row" id="annotations-ingestion-time-initial">
              {% include "eboa_nav/ingestion_time.html" %}
              <div>
                <span onclick="vboa.add_ingestion_time('more-ingestion-time-query-annotations')" id="annotations-add-ingestion-time">
                  <span class="glyphicon glyphicon-plus"></span>
                </span>
              </div>
            </div>
            <div id="more-ingestion-time-query-annotations">
            </div>
            <div>
              <label id="annotations-show-map">
                <input type="checkbox" name="show_map"><span class="label-text" ><b>Show map</b></span>
              </label>
            </div>
            <!-- Query restrictions -->
            <div class="row" id="annotations-query-restrictions">
              <!-- Order by -->
              <div class="col-xs-3">
                  <label>Order by (<input type="checkbox" name="order_descending" checked><span class="label-text"><b>Descending)</b></span></label>
                  <select style="width: 100%" name="order_by" id="annotations-order-by">
                    <option></option>
                    <option>ingestion_time</option>
                  </select>
              </div>
              <!-- Limit -->
              <div class="col-xs-3">
                <label>Limit</label>
                <input type="text" class="form-control" style="width: 100%" name="limit" id="annotations-limit" value="100"/>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary" style="margin-top: 12px" id="annotations-submit-button">Query</button>
            </div>
          </form>
        </div>
        <!-- /.col-lg-6 (nested) -->
      </div>
      <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<!-- /.panel -->
