<div class="col-lg-12" id="nav-events">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <form role="form" method=post action="/eboa_nav/query-dim-signatures">
            <div class="row">
              <div class="col-xs-3 query-dim-signatures">
                <label id="dim-signatures-dim-signature-like-checkbox">DIM signature like (<input type="checkbox" name="dim_signature_notlike_check"><span class="label-text"><b>Not like)</b></span></label>
                <input class="form-control" list="dim-signature-like-dims" name="dim_signature_like" id="dim-signatures-dim-signature-like-text"/>
                <datalist id="dim-signature-like-dims">
                </datalist>
              </div>
              <div class="col-xs-3 query-dim-signatures">
                <label id="dim-signatures-dim-signature-in-checkbox">DIM signatures (<input type="checkbox" name="dim_signature_notin_check"><span class="label-text"><b>Not in)</b></span></label>
                <select name="dim_signatures" data-placeholder="Select several options..." class="chosen-select" multiple="" tabidex="-1" id="dim-signatures-dim-signature-in-text">
                </select>
              </div>
            </div>
            <!-- Query restrictions -->
            <div class="row" id="dim-signatures-query-restrictions">
              <!-- Order by -->
              <div class="col-xs-3">
                  <label>Order by (<input type="checkbox" name="order_descending" checked><span class="label-text"><b>Descending)</b></span></label>
                  <select style="width: 100%" name="order_by" id="dim-signatures-order-by">
                    <option></option>
                    <option>dim_signature</option>
                    <option>dim_signature_uuid</option>
                  </select>
              </div>
              <!-- Limit -->
              <div class="col-xs-3">
                <label>Limit</label>
                <input type="text" class="form-control" style="width: 100%" name="limit" id="dim-signatures-limit" value="1000"/>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary" style="margin-top: 12px" id="dim-signatures-submit-button">Query</button>
            </div>
          </form>
        </div>
        <!-- /.col-lg-6 (nested) -->
      </div>
      <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<!-- /.panel -->
