<div class="col-xs-3">
  <label>Start</label>
  <div class="input-group date">
    <input type="text" class="form-control" name="start"/>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>
<div class="col-xs-3">
  <label>Stop</label>
  <div class="input-group date">
    <input type="text" class="form-control"  name="stop"/>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>
