<div class="col-xs-3">
  <label>Validity start</label>
  <div class="input-group date" id="validity-start">
    <input type="text" class="form-control" name="validity_start"/>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
    <div>
      <select class="form-control" style="padding-left: 0" name="validity_start_operator">
        {% include "eboa_nav/operators.html" %}
      </select>
    </div>
  </div>
</div>
<div class="col-xs-3">
  <label>Validity stop</label>
  <div class="input-group date" id="validity-stop">
    <input type="text" class="form-control" name="validity_stop"/>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
    <div>
      <select class="form-control" style="padding-left: 0" name="validity_stop_operator">
        {% include "eboa_nav/operators.html" %}
      </select>
    </div>
  </div>
</div>
