{% extends "panel/index.html" %}
{% block content %}
<div class="row">
  <h1 class="page-header">Ingestion control monitoring</h1>
</div>
<!-- /.row -->
{% include "ingestion_control/ingestion_control_query.html" %}

<!-- Pagination -->
{% with route = "/ingestion_control/ingestion-control-pages", elements = sources, filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

{% set alerts = sources|rejectattr("alerts", "equalto", [])|map(attribute="alerts")|list|flatten %}
{% set ingestion_errors = sources|selectattr("ingestion_error", "equalto", True)|list %}
{% set incomplete_ingestions = sources|rejectattr("ingestion_error", "equalto", True)|rejectattr("ingestion_completeness", "equalto", True)|list %}
{% set successful_processings = sources|selectattr("ingested", "equalto", True)|list %}

{% with show = {"expected": True, "successful": True, "errors": True, "alerts": True} %}
{% include "ingestion_control/ingestion_control_summary_content.html" %}
{% endwith %}

{% if sources|length > 0 %}
{% include "ingestion_control/ingestion_control_alerts_content.html" %}
{% include "ingestion_control/ingestion_control_errors_content.html" %}

<div class="row">
  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#ingestions-status-ingestion-control">Ingestions in progress or successfully/unsuccessfully finished <span class="fa fa-angle-double-down"></span></a>
        </h3>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body panel-collapse collapse in" id="ingestions-status-ingestion-control">
        <div>
          <h3><u>Table of ingestions in progress or successfully/unsuccessfully finished</u></h3>
        </div>
        <form role="form" id="ingestions-status-ingestion-control-operations" method=post onSubmit="vboa.submit_request_for_ingestion_management(this.id); return false;">    
          <table width="100%" class="table table-striped table-bordered table-hover table-search-checkboxes" id="ingestions-status-ingestion-control-table">
            {% with sources = sources %}
            {% include "ingestion_control/ingestion_table_content.html" %}
            {% endwith %}
          </table>
          <div class="row" style="margin-bottom: 20px; margin-top: 20px">
            <div align="center">
              <button type="submit" onclick="this.form.operation='reingestion_preparation'" class="btn btn-primary" style="margin-top: 12px" id="ingestion-control-reingetion-button">Re-ingest</button>
              <button type="submit" onclick="this.form.operation='deletion_preparation'" class="btn btn-primary" style="margin-top: 12px" id="ingestion-control-deletion-button">Delete</button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#graphs-ingestion-control">Detailed graphs of the ingestion control <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <div class="panel-body panel-collapse collapse in" id="graphs-ingestion-control">
      <!-- /.panel-heading -->
      {% if not show or show["validity_timeline"] %}
      <div class="panel panel-default">
        <div class="panel-heading">
          Validity timeline of sources
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="ingestion-control-validity-timeline">
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      {% endif %}
      {% if not show or show["generation_to_ingestion_timeline"] %}
      <div class="panel panel-default">
        <div class="panel-heading">
          Generation to ingestion timeline of sources
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="ingestion-control-generation-to-ingestion-timeline">
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      {% endif %}
      {% if not show or show["number_events_xy"] %}
      <div class="panel panel-default">
        <div class="panel-heading">
          Number of events over time per source
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="ingestion-control-number-events-xy">
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      {% endif %}
      {% if not show or show["ingestion_duration_xy"] %}
      <div class="panel panel-default">
        <div class="panel-heading">
          Ingestion duration over time per source
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="ingestion-control-ingestion-duration-xy">
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      {% endif %}
      {% if not show or show["generation_time_to_ingestion_time_xy"] %}
      <div class="panel panel-default">
        <div class="panel-heading">
          Difference between the ingestion time and the generation time over time per source
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="ingestion-control-generation-time-to-ingestion-time-xy">
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      {% endif %}
      <!-- /.panel -->
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#no-sources-ingestion-control">Ingestion control status <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <div class="panel-body panel-collapse" id="no-sources-ingestion-control">
      <div>
          <p id="no-sources-ingestion-control" style="text-indent: 1em">There are no sources during the requested period.</p>
        <br/>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
  {% if sources|length > 0 %}
  {% with sources=sources %}
  {% include "graphs/sources_to_json.js" %}
  {% endwith %}
  {% if not show or show["validity_timeline"] %}
  vboa.create_source_validity_timeline(sources, "ingestion-control-validity-timeline");
  {% endif %}
  {% if not show or show["generation_to_ingestion_timeline"] %}
  vboa.create_source_generation_to_ingestion_timeline(sources, "ingestion-control-generation-to-ingestion-timeline");
  {% endif %}
  {% if not show or show["number_events_xy"] %}
  vboa.create_source_number_events_xy(sources, "ingestion-control-number-events-xy");
  {% endif %}
  {% if not show or show["ingestion_duration_xy"] %}
  vboa.create_source_ingestion_duration_xy(sources, "ingestion-control-ingestion-duration-xy");
  {% endif %}
  {% if not show or show["generation_time_to_ingestion_time_xy"] %}
  vboa.create_source_generation_time_to_ingestion_time_xy(sources, "ingestion-control-generation-time-to-ingestion-time-xy");
  {% endif %}
  {% endif %}
  {% if sliding_window %}
  var parameters = {
  "window_delay": "{{ sliding_window['window_delay'] }}",
  "window_size": "{{ sliding_window['window_size'] }}",
  }
  var repeat_cycle = {{ sliding_window['repeat_cycle'] }}
  vboa.update_view(parameters, repeat_cycle, "/ingestion_control/sliding_ingestion_control_parameters");
  {% endif %}
</script>
{% endblock %}
