<thead>
  <tr>
    <th></th>
    <th></th>
    <th>Name</th>
    <th>DIM signature</th>
    <th>Ingestion progress</th>
    <th>Processor progress</th>
    <th>Ingestion completeness</th>
    <th>Ingestion completeness message</th>
    <th>Triggering duration</th>
    <th>Ingestion duration</th>
    <th>Processing duration</th>
    <th>Validity start</th>
    <th>Validity stop</th>
    <th>Duration</th>
    <th>Number of events</th>
    <th>Reception time</th>
    <th>Generation time</th>
    <th>Ingestion time</th>
    <th>Processor</th>
    <th>Processor version</th>
  </tr>
</thead>
<tbody>
  {% for source in sources %}
  <tr id="{{ source.source_uuid }}">
    <td></td>
    <td><i id="expand-source-ingestion-error-statuses-{{ source.source_uuid }}" class="fa fa-plus-square green" aria-hidden="true" onclick="vboa.expand_source_statuses('expand-source-ingestion-error-statuses-{{ source.source_uuid }}', '{{ source.source_uuid }}')" data-toggle="tooltip" title="Click to show the related statuses"></i></td>
    <td><a href="{{ url_for('eboa_nav.query_sources_by_name', name=source.name) }}">{{ source.name }}</a></td>
    <td>{{ source.dimSignature.dim_signature }}</td>
    {% with progress = source.get_ingestion_progress(), error = source.ingestion_error %}
    {% include "vboa/progress_bar.html" %}
    {% endwith %}
    {% with progress = source.get_processor_progress(), error = source.ingestion_error %}
    {% include "vboa/progress_bar.html" %}
    {% endwith %}
    {% if source.ingestion_completeness == True %}
    <td><span class='bold-green'>{{ source.ingestion_completeness }}</span></td>
    {% else %}
    <td><span class='bold-red'>{{ source.ingestion_completeness }}</span></td>
    {% endif %}
    <td>{{ source.ingestion_completeness_message }}</td>
    <td>{{ source.get_triggering_duration() }}</td>
    <td>{{ source.ingestion_duration }}</td>
    <td>{{ source.processing_duration }}</td>
    {% with date = source.validity_start %}
    {% include "vboa/date_td_value.html" %}
    {% endwith %}
    {% with date = source.validity_stop %}
    {% include "vboa/date_td_value.html" %}
    {% endwith %}
    {% with date1 = source.validity_start, date2 = source.validity_stop %}
    {% include "vboa/difference_date_td_value.html" %}
    {% endwith %}
    <td>{{ source.events|length }}</td>
    {% with date = source.reception_time %}
    {% include "vboa/date_td_value.html" %}
    {% endwith %}
    {% with date = source.generation_time %}
    {% include "vboa/date_td_value.html" %}
    {% endwith %}
    {% with date = source.ingestion_time %}
    {% include "vboa/date_td_value.html" %}
    {% endwith %}
    <td>{{ source.processor }}</td>
    <td>{{ source.processor_version }}</td>
  </tr>
  {% endfor %}
</tbody>
<tfoot>
  <tr>
    <th></th>
    <th></th>
    <th>Name</th>
    <th>DIM signature</th>
    <th>Ingestion progress</th>
    <th>Processor progress</th>
    <th>Ingestion completeness</th>
    <th>Ingestion completeness message</th>
    <th>Triggering duration</th>
    <th>Ingestion duration</th>
    <th>Processing duration</th>
    <th>Validity start</th>
    <th>Validity stop</th>
    <th>Duration</th>
    <th>Number of events</th>
    <th>Reception time</th>
    <th>Generation time</th>
    <th>Ingestion time</th>
    <th>Processor</th>
    <th>Processor version</th>
  </tr>
</tfoot>
