{% extends "panel/index.html" %}
{% block content %}
<div class="row">
  <h1 class="page-header">Ingestion alerts</h1>
</div>
<!-- /.row -->
{% with template = "?template=alerts_and_errors" %}
{% include "ingestion_control/ingestion_control_query.html" %}
{% endwith %}
{% set ingestion_errors = sources|selectattr("ingestion_error", "equalto", True)|list %}
{% set alerts = sources|rejectattr("alerts", "equalto", [])|map(attribute="alerts")|list|flatten %}

<!-- Pagination -->
{% with route = "/ingestion_control/ingestion-control-pages", elements = sources, filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

{% with show = {"errors": True, "alerts": True} %}
{% include "ingestion_control/ingestion_control_summary_content.html" %}
{% endwith %}

{% include "ingestion_control/ingestion_control_alerts_content.html" %}

{% include "ingestion_control/ingestion_control_errors_content.html" %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
  {% if sliding_window %}
  var parameters = {
  "window_delay": "{{ sliding_window['window_delay'] }}",
  "window_size": "{{ sliding_window['window_size'] }}",
  "template": "alerts",
  }
  var repeat_cycle = {{ sliding_window['repeat_cycle'] }}
  vboa.update_view(parameters, repeat_cycle, "/ingestion_control/sliding_ingestion_control_parameters");
  {% endif %}
</script>
{% endblock %}
