<!-- Summary -->
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#summary-ingestion-control">Ingestion control summary <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="summary-ingestion-control">
      {% if "expected" in show and show["expected"] == True %}
      <!-- Expected processings -->
      <div class="col-xs-3">
        <div class="panel panel-primary">
          <div class="panel-heading" align="center" style="font-size: 20px">Number of expected processings</div>
          <div class="panel-body" align="center" style="font-size: 50px; color: steelblue">{{ sources|length }}</div>
        </div>
      </div>
      {% endif %}
      {% if "successful" in show and show["successful"] == True %}
      <!-- Successful processings -->
      <div class="col-xs-3">
        <div class="panel panel-success">
          <div class="panel-heading" align="center" style="font-size: 20px">Number of successful processings</div>
          <div class="panel-body" align="center" style="font-size: 50px; color: green">{{ successful_processings|length }}</div>
        </div>
      </div>
      {% endif %}
      {% if "errors" in show and show["errors"] == True %}
      <!-- Processings in error -->
      <div class="col-xs-3">
        <div class="panel panel-danger">
          <div class="panel-heading" align="center" style="font-size: 20px">Number of ingestion errors</div>
          <div class="panel-body" align="center" style="font-size: 50px; color: darkred">{{ ingestion_errors|length }}</div>
        </div>
      </div>
      <!-- Processings in error -->
      <div class="col-xs-3">
        <div class="panel panel-danger">
          <div class="panel-heading" align="center" style="font-size: 20px">Number of incomplete ingestions</div>
          <div class="panel-body" align="center" style="font-size: 50px; color: darkred">{{ incomplete_ingestions|length }}</div>
        </div>
      </div>
      {% endif %}
      {% if "alerts" in show and show["alerts"] == True %}
      <!-- Alerts -->
      <div class="col-xs-3">
        <div class="panel panel-warning">
          <div class="panel-heading" align="center" style="font-size: 20px">Number of alerts</div>
          <div class="panel-body" align="center" style="font-size: 50px; color: gold">{{ alerts|length }}</div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
