{% extends "panel/index.html" %}
{% block content %}
<div class="row">
  <h1 class="page-header">Ingestion errors</h1>
</div>
<!-- /.row -->
{% with template = "?template=errors" %}
{% include "ingestion_control/ingestion_control_query.html" %}
{% endwith %}
{% set ingestion_errors = sources|selectattr("ingestion_error", "equalto", True)|list %}

<!-- Pagination -->
{% with route = url_for('ingestion_control.query_ingestion_control_pages'), elements = ingestion_errors, filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

{% with show = {"errors": True} %}
{% include "ingestion_control/ingestion_control_summary_content.html" %}
{% endwith %}

{% include "ingestion_control/ingestion_control_errors_content.html" %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
  {% if sliding_window %}
  var parameters = {
  "window_delay": "{{ sliding_window['window_delay'] }}",
  "window_size": "{{ sliding_window['window_size'] }}",
  "template": "errors",
  }
  var repeat_cycle = {{ sliding_window['repeat_cycle'] }}
  vboa.update_view(parameters, repeat_cycle, "{{ url_for('ingestion_control.show_sliding_ingestion_control_parameters') }}");
  {% endif %}
</script>
{% endblock %}
