{% if alerts|length > 0 %}
<div class="row">
  <div class="panel panel-red">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#associated-ingestion-control-alerts">Associated alerts <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="associated-ingestion-control-alerts">
      <div>
        <h3><u>Table of alerts</u></h3>
      </div>
      <form role="form" id="ingestion-alerts-ingestion-control-operations" method=post onSubmit="vboa.submit_request_for_ingestion_management(this.id); return false;">
        <p>
          The following table shows the list alerts associated to the ingestion processes:
          <br/>
        </p>
        <br/>
        <br/>

        <table width="100%" class="table table-striped table-bordered table-hover table-search-checkboxes" id="ingestion-control-alerts-details-table">
          <thead>
            <tr>
              <th></th>
              <th>Severity</th>
              <th>Group</th>
              <th>Name</th>
              <th>Associated source</th>
              <th>Message</th>
              <th>Validated</th>
              <th>Generator</th>
              <th>Notified</th>
              <th>Notification time</th>
            </tr>
          </thead>
          <tbody>
            {% for alert in alerts %}
            <tr id="{{ alert.source.source_uuid }}">
              <td></td>
              {% set severity_label=alert.alertDefinition.severity|get_severity_label %}
              <td class="{{ severity_label }}-severity">{{ severity_label }}</td>
              <td>{{ alert.alertDefinition.group.name }}</td>
              <td>{{ alert.alertDefinition.name }}</td>
              <td><a href="/eboa_nav/query-sources-by-name/{{ alert.source.name }}">{{ alert.source.name }}</a></td>
              <td>{{ alert.message }}</td>
              <td>{{ alert.validated }}</td>
              <td>{{ alert.generator }}</td>
              <td>{{ alert.notified }}</td>
              <td>{{ alert.notification_time }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th>Severity</th>
              <th>Group</th>
              <th>Name</th>
              <th>Associated source</th>
              <th>Message</th>
              <th>Validated</th>
              <th>Generator</th>
              <th>Notified</th>
              <th>Notification time</th>
            </tr>
          </tfoot>
        </table>
        <div class="row" style="margin-bottom: 20px; margin-top: 20px">
          <div align="center">
            <button type="submit" onclick="this.form.operation='reingestion_preparation'" class="btn btn-primary" style="margin-top: 12px" id="ingestion-errors-reingetion-button">Re-ingest</button>
            <button type="submit" onclick="this.form.operation='deletion_preparation'" class="btn btn-primary" style="margin-top: 12px" id="ingestion-errors-deletion-button">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="panel panel-green">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#no-ingestion-alerts">Ingestion alerts <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <div class="panel-body panel-collapse" id="no-ingestion-alerts">
      <div>
        <p id="no-ingestion-control-alerts-data" style="text-indent: 1em">There are no alerts during the requested period.</p>
        <br/>
      </div>
    </div>
  </div>
</div>
{% endif %}
