{% extends "panel/index.html" %}
{% block content %}
<div class="row">
  <h1 class="page-header">Import users</h1>
</div>
<div class="row">
  <!-- Import from file -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Import users from file</h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <form role="form" id="import-users-from-file-operations" method=post onSubmit="vboa.submit_request_for_import_users_management(this.id); return false;">
        <p>
          <b>Select file (json/txt extension) with the configuration to be imported:</b>
          <div align="center">
            <label class="btn btn-primary">
                Browse file <input type="file" name="file" style="display: none;" id="import-users-from-file-browse-file">
            </label>
          </div>
        </p>
        <div id="import-users-from-file-div"></div>
        <div class="row" style="margin-bottom: 20px; margin-top: 20px">
          <div align="center">
            <button type="submit" class="btn btn-success" style="display: none; margin-top: 12px" id="import-users-from-file-submit-button">Import users</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Import from editor -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Import users manually</h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <p>
        <b>Insert configuration manually:</b>
        <div align="center">
          <button type="button" onclick="show_insert_manually()" class="btn btn-primary" id="import-users-manually-button">Insert users manually</button>
        </div>
      </p>
      <div id="import-users-manually-div" style="display: none;">
        <p>
          <br/>The following text-area shows an example of a validated JSON schema. Confirm importing users:
        </p>
        <form role="form" id="import-users-operations" method=post onSubmit="vboa.submit_request_for_import_users_manually_management(this.id); return false;">
          <textarea style="margin-top: 12px" id="import-users-textarea" name="import_users_textarea" rows="20" cols="100">
  {% if textarea_content %}{{ textarea_content }}
  {% else %}{
    "operations":[
        {
          "mode":"insert",
          "users":[
              {
                "email":"example@example.com",
                "username":"example",
                "password":"example_hash_password",
                "roles":[
                    "example_role"
                ]
              }
          ],
          "roles":[
              {
                "name":"example_role",
                "description":"This text is an example."
              }
          ]
        }
    ]
  }
            {% endif %}
              </textarea>
          <div class="row" style="margin-bottom: 20px; margin-top: 20px">
            <div align="center">
              <button type="submit" class="btn btn-success" style="margin-top: 12px" id="import-users-from-editor-submit-button" name="import_users_manually">Import users</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">

var file_input = document.getElementById("import-users-from-file-browse-file");
var import_manually_button = document.getElementById("import-users-manually-button");
var submit_button = document.getElementById("import-users-from-file-submit-button");
var inser_manually_div = document.getElementById("import-users-manually-div");

var browse_file = {};

function human_readable_size(size) {
    var i = size == 0 ? 0 : Math.floor(Math.log(size) / Math.log(1024));
    return (size / Math.pow(1024, i)).toFixed(2) * 1 + ' ' + ['B', 'kB', 'MB', 'GB', 'TB'][i];
}

function show_insert_manually() {
    if (inser_manually_div.style.display == 'block') {
      inser_manually_div.style.display = 'none'
    }
    else {
      inser_manually_div.style.display = 'block'
    }
}

function show_file_to_import(file) {
    submit_button.style.display = "block"
  
    /* Insert information about browse file to the table */
    const form_import_users_file = document.getElementById("import-users-from-file-div");
    form_import_users_file.innerHTML = "<p><br/>The following table shows the selected file to be uploaded. Confirm importing users:</p>" +
          "<table width='100%' class='table table-striped table-bordered table-hover' id='import-users-from-file-table'>" +
          "<thead>" +
          "<tr>" +
          "<th class='selected'></th>" +
          "<th>File</th>" +
          "<th>Size</th>" +
          "</tr>" +
          "</thead>" +
          "<tbody>" +
          "</tbody>" +
          "<tfoot>" +
          "<tr>" +
          "<th></th>" +
          "<th>File</th>" +
          "<th>Size</th>" +
          "</tr>" +
          "</tfoot>" +
          "</table>"

      const import_users_table = document.getElementById("import-users-from-file-table");
      
      var i = 0;
      for (const file_key in file){
          
          /* Create line */
          var tr = document.createElement("tr");
          tr.id = "import-users-from-file-table-tr-" + i
          tr.classList.add("selected");
          
          var td_checkbox = document.createElement("td");
          tr.appendChild(td_checkbox);
          var td_file = document.createElement("td");
          td_file.id = "name"
          tr.appendChild(td_file);
          var td_size = document.createElement("td");
          tr.appendChild(td_size);

          /* Update line */
          td_file.textContent = file[file_key]["name"];
          td_size.textContent = human_readable_size(file[file_key]["size"]);
          i++;

          /* Insert line into table */
          import_users_table.tBodies[0].appendChild(tr);
      }

      /* Activate table */
      import_users_table.classList.add("table-search-checkboxes");
      vboa.datatables.activate_search_and_checkboxes_on_tables();
}

file_input.addEventListener('change', vboa.prepare_browse_file);
  
</script>
{% endblock %}