{% extends "panel/index.html" %}
{% block content %}
<div class="row panel-no-index">
  <h1 class="page-header">
    <div>
      <div style="display:inline">
        UBOA navigation
      </div>
      {% set button_load_more_query_pages = "Look for more query pages" %}
      {% set limit = 40 %}        
      <div style="margin-left:20px; display:inline">
        <i class="circle"></i><select data-toggle="tooltip" title="Click to search for {{ limit }} maximum stored queries. If you don't find the one you would like, click on '{{ button_load_more_query_pages }}' button" style="font-size:18px" onclick="vboa.fill_elements_into_selector_no_input(this, '/rboa_nav/query-jsonify-reports-by-report-group', 'EBOA_NAV_QUERY_PAGE', 'name', {{ limit }}, 0)">
        </select>
        <button type="button" class="btn btn-success" onclick="vboa.show_selected_report(this)">Load query page</button>
      </div>
      <div style="display:inline">
        <button type="button" class="btn btn-primary" onclick="vboa.request_info_json('/rboa_nav/', vboa.render_page, {report_group: 'EBOA_NAV_QUERY_PAGE'}, true)">{{ button_load_more_query_pages }}</button>
      </div>
    </div>
  </h1>
</div>
<!-- /.row -->
<div class="row">
  <ul class="nav nav-tabs responsive-tabs">
    <li {% block li_active_users %} {% endblock %}><a href="#nav-users">Users</a></li>
    <li {% block li_active_roles %} {% endblock %}><a href="#nav-roles">Roles</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane {% block div_active_users %} {% endblock %}" id="nav-users">
      {% block users_nav_content %}
      {% include "users_management/query_users_content.html" %}
      {% endblock %}
    </div>
    <div class="tab-pane {% block div_active_roles %} {% endblock %}" id="nav-roles">
      {% block roles_nav_content %}
      {% include "users_management/query_roles_content.html" %}
      {% endblock %}
    </div>
  </div>
  <!-- /.tab-content -->
</div>
<!-- /.row -->
{% endblock %}
