{% extends "panel/index.html" %}

{% set elements = sources + events + annotations + reports + ers %}
{% set sources_alerts = sources|rejectattr("alerts", "equalto", [])|map(attribute="alerts")|list|flatten %}
{% set events_alerts = events|rejectattr("alerts", "equalto", [])|map(attribute="alerts")|list|flatten %}
{% set annotations_alerts = annotations|rejectattr("alerts", "equalto", [])|map(attribute="alerts")|list|flatten %}
{% set reports_alerts = reports|rejectattr("alerts", "equalto", [])|map(attribute="alerts")|list|flatten %}
{% set ers_alerts = ers|rejectattr("alerts", "equalto", [])|map(attribute="alerts")|list|flatten %}
{% set alerts = sources_alerts + events_alerts + annotations_alerts + reports_alerts + ers_alerts %}

{% block content %}
<div class="row">
  <h1 class="page-header">General view of alerts</h1>
</div>
<!-- /.row -->
{% include "general_view_alerts/general_view_alerts_query.html" %}

<!-- Pagination -->
{% with route = "/general-view-alerts-pages", elements = elements, filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

{% with show = {"sources": True, "events": True, "annotations": True, "reports": True, "ers": True} %}
{% include "general_view_alerts/general_view_alerts_summary_content.html" %}
{% endwith %}

{% include "general_view_alerts/general_view_alerts_timeliness.html" %}
{% include "general_view_alerts/general_view_alerts_sources_content.html" %}
{% include "general_view_alerts/general_view_alerts_events_content.html" %}
{% include "general_view_alerts/general_view_alerts_annotations_content.html" %}
{% include "general_view_alerts/general_view_alerts_reports_content.html" %}
{% include "general_view_alerts/general_view_alerts_explicit_refs_content.html" %}

{% endblock %}
{% block scripts %}
{{ super() }}

{% include "general_view_alerts/general_view_alerts_scripts.html" %}

{% endblock %}
