{% if ers_alerts|length > 0 %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#associated-general-view-alerts-ers" style="color:red">Associated explicit references alerts <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="associated-general-view-alerts-ers">
      <div>
        <h3 style="color:red"><u>Table of alerts</u></h3>
      </div>
      <p>
        The following table shows the list alerts associated to the explicit references:
        <br/>
      </p>
      <br/>
      <br/>

      <table width="100%" class="table table-striped table-bordered table-hover table-search" id="associated-general-view-alerts-ers-details-table">
        <thead>
          <tr>
            <th>Severity</th>
            <th>Group</th>
            <th>Name</th>
            <th>Associated source</th>
            <th>Message</th>
            <th>Validated</th>
            <th>Generator</th>
            <th>Notified</th>
            <th>Notification time</th>
          </tr>
        </thead>
        <tbody>
          {% for alert in ers_alerts %}
          <tr>
            {% set severity_label=alert.alertDefinition.severity|get_severity_label %}
            <td class="{{ severity_label }}-severity">{{ severity_label }}</td>
            <td>{{ alert.alertDefinition.group.name }}</td>
            <td>{{ alert.alertDefinition.name }}</td>
            <td><a href="/eboa_nav/query-sources-by-name/{{ alert.source.name }}">{{ alert.source.name }}</a></td>
            <td>{{ alert.message }}</td>
            <td>{{ alert.validated }}</td>
            <td>{{ alert.generator }}</td>
            <td>{{ alert.notified }}</td>
            <td>{{ alert.notification_time }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Severity</th>
            <th>Group</th>
            <th>Name</th>
            <th>Associated source</th>
            <th>Message</th>
            <th>Validated</th>
            <th>Generator</th>
            <th>Notified</th>
            <th>Notification time</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#ers-alerts">Explicit references alerts <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <div class="panel-body panel-collapse collapse" id="ers-alerts">
      <div>
        <p id="no-general-view-alerts-ers-data" style="text-indent: 1em">There are no alerts during the requested period.</p>
        <br/>
      </div>
    </div>
  </div>
</div>
{% endif %}
