<thead>
  <tr>
    <th>Justification</th>
    <th>Severity</th>
    <th>Group</th>
    <th>Name</th>
    <th>Message</th>
    <th>Notification time</th>
    <th>Solved</th>
    <th>Solved time</th>
    <th>Description</th>
    <th>Validated</th>
    <th>Generator</th>
    <th>Notified</th>
    <th>Ingestion time</th>
    <th>Alert UUID</th>
    <th>Report UUID</th>
  </tr>
</thead>
<tbody>
  {% for alert_uuid in alert_uuids %}
  {% set alert = data["report_alerts"][alert_uuid] %}
  <tr>
    {% if alert["solved"] == "True" %}
    {% set solved_class = "bold-green" %}
    {% else %}
    {% set solved_class = "bold-red" %}
    {% endif %}
    {% if alert["notified"] == "True" %}
    {% set notified_class = "bold-green" %}
    {% else %}
    {% set notified_class = "bold-red" %}
    {% endif %}
    {% if alert["validated"] == "True" %}
    {% set validated_class = "bold-green" %}
    {% else %}
    {% set validated_class = "bold-red" %}
    {% endif %}
    {% set severity_label = alert["definition"]["severity"]|get_severity_label %}
    <td>{{ alert["justification"] }}</td>
    <td class="{{ severity_label }}-severity">{{ severity_label }}</td>
    <td>{{ alert["definition"]["group"] }}</td>
    <td>{{ alert["definition"]["name"] }}</td>
    <td>{{ alert["message"] }}</td>
    <td>{{ alert["notification_time"] }}</td>
    <td><span class="{{ solved_class }}">{{ alert["solved"] }}</span></td>
    <td>{{ alert["solved_time"] }}</td>
    <td>{{ alert["definition"]["description"] }}</td>
    <td><span class="{{ validated_class }}">{{ alert["validated"] }}</span></td>
    <td>{{ alert["generator"] }}</td>
    <td><span class="{{ notified_class }}">{{ alert["notified"] }}</span></td>
    <td>{{ alert["ingestion_time"] }}</td>
    <td><a href="{{ url_for('rboa_nav.query_report_alert_and_render', alert_uuid=alert.report_alert_uuid) }}">{{ alert.report_alert_uuid }}</a></td>
    <td><a href="{{ url_for('rboa_nav.query_report', report_uuid=alert.report_uuid) }}">{{ alert.report_uuid }}</a></td>
  </tr>
  {% endfor %}
</tbody>
<tfoot>
  <tr>
    <th>Justification</th>
    <th>Severity</th>
    <th>Group</th>
    <th>Name</th>
    <th>Message</th>
    <th>Notification time</th>
    <th>Solved</th>
    <th>Solved time</th>
    <th>Description</th>
    <th>Validated</th>
    <th>Generator</th>
    <th>Notified</th>
    <th>Ingestion time</th>
    <th>Alert UUID</th>
    <th>Report UUID</th>
  </tr>
</tfoot>
