<script type="text/javascript">
  {% if alerts|length > 0 %}
  {% with sources_alerts=sources_alerts, events_alerts=events_alerts, annotations_alerts=annotations_alerts, reports_alerts=reports_alerts, ers_alerts=ers_alerts %}
  {% include "graphs/alerts_to_json_for_timeline.js" %}
  {% endwith %}
  vboa.create_alert_timeline(alerts, "timeline-general-view-alerts");
  {% endif %}
  {% if sliding_window %}
  var parameters = {
  "window_delay": "{{ sliding_window['window_delay'] }}",
  "window_size": "{{ sliding_window['window_size'] }}",
  }
  var repeat_cycle = {{ sliding_window['repeat_cycle'] }}
  vboa.update_view(parameters, repeat_cycle, "/sliding-general-view-alerts-parameters");
  {% endif %}
</script>