{% extends "panel/index.html" %}

{% set alerts = source_alerts + event_alerts + annotation_alerts + report_alerts + er_alerts %}

{% set number_of_elements = [source_alerts|length, event_alerts|length, annotation_alerts|length, report_alerts|length, er_alerts|length]|max %}

{% block content %}
<div class="row">
  <h1 class="page-header">General view of alerts</h1>
</div>
<!-- /.row -->
{% include "general_view_alerts/general_view_alerts_query.html" %}

<!-- Pagination -->
{% with route = "/general-view-alerts/general-view-alerts-pages", elements = None, number_of_elements = number_of_elements, filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

{% with show = {"sources": True, "events": True, "annotations": True, "reports": True, "ers": True} %}
{% include "general_view_alerts/general_view_alerts_summary_content.html" %}
{% endwith %}

{% include "general_view_alerts/general_view_alerts_timeliness.html" %}
{% include "general_view_alerts/general_view_alerts_sources_content.html" %}
{% include "general_view_alerts/general_view_alerts_events_content.html" %}
{% include "general_view_alerts/general_view_alerts_annotations_content.html" %}
{% include "general_view_alerts/general_view_alerts_reports_content.html" %}
{% include "general_view_alerts/general_view_alerts_explicit_refs_content.html" %}

{% endblock %}
{% block scripts %}
{{ super() }}

{% include "general_view_alerts/general_view_alerts_scripts.html" %}

{% endblock %}
