/* Styles for panels */
h3.panel-title {
    display: inline-block;
}

.panel-index-reference {
    display: inline-block;
}

.index-element {
    text-decoration: underline;
}

/* Styles for checkboxes in header of datatables */
table.dataTable thead th.select-checkbox {
  position: relative;
}
table.dataTable thead th.select-checkbox:before,
table.dataTable thead th.select-checkbox:after {
  display: block;
  position: absolute;
  top: 1.2em;
  left: 50%;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
table.dataTable thead th.select-checkbox:before {
  content: ' ';
  margin-top: -6px;
  margin-left: -6px;
  border: 1px solid black;
  border-radius: 3px;
}
table.dataTable thead th.select-checkbox.selected:after {
  content: '\2714';
  margin-top: -11px;
  margin-left: -4px;
  text-align: center;
  text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9;
}

/* Style for lables in timelines */
div.apply-timeliness-overflow .vis-item .vis-item-overflow {
  overflow: visible;
}

/* Severity levels */
.info-severity {
    color: green;
}
.warning-severity {
    color: blue;
}
.minor-severity {
    color: yellow;
}
.major-severity {
    color: pink;
}
.critical-severity {
    color: brown;
}
.fatal-severity {
    color: red;
}

/* Bold colors */
.bold-green {
    color: green;
    font-weight: bold
}
.bold-blue {
    color: blue;
    font-weight: bold
}
.bold-yellow {
    color: yellow;
    font-weight: bold
}
.bold-pink {
    color: pink;
    font-weight: bold
}
.bold-brown {
    color: brown;
    font-weight: bold
}
.bold-red {
    color: red;
    font-weight: bold
}
.bold-orange {
    color: orange;
    font-weight: bold
}

/* Fill Colours */
/* Bold colors */
.background-green {
    background: green;
}
.background-blue {
    background: blue;
}
.background-yellow {
    background: yellow;
}
.background-pink {
    background: pink;
}
.background-brown {
    background: brown;
}
.background-red {
    background: red;
}
.background-orange {
    background: orange;
}
.background-light-green {
    background: lightgreen;
}
.background-light-blue {
    background: lightblue;
}
.background-light-yellow {
    background: gold;
}
.background-light-pink {
    background: lightpink;
}
.background-light-brown {
    background: burlywood;
}
.background-light-red {
    background: lightcoral;
}
.background-light-orange {
    background: coral;
}

/* Fill and border Colours */
.fill-border-green {
    background: green;
    border-color: green;
}
.fill-border-blue {
    background: blue;
    border-color: blue;
}
.fill-border-yellow {
    background: yellow;
    border-color: yellow;
}
.fill-border-pink {
    background: pink;
    border-color: pink;
}
.fill-border-brown {
    background: brown;
    border-color: brown;
}
.fill-border-red {
    background: red;
    border-color: red;
}
.fill-border-orange {
    background: orange;
    border-color: orange;
}
.fill-border-light-green {
    background: lightgreen;
    border-color: lightgreen;
}
.fill-border-light-blue {
    background: lightblue;
    border-color: lightblue;
}
.fill-border-light-yellow {
    background: gold;
    border-color: gold;
}
.fill-border-light-pink {
    background: lightpink;
    border-color: lightpink;
}
.fill-border-light-brown {
    background: burlywood;
    border-color: burlywood;
}
.fill-border-light-red {
    background: lightcoral;
    border-color: lightcoral;
}
.fill-border-light-orange {
    background: coral;
    border-color: coral;    
}


/* Static table */
.table-static {
    width:1px;
    white-space: nowrap;
}

.table-static th {
    background: #C8F0F0;
}
.table-static td.highlight {
    background: #ffe8b0;
}

p {
    font-size:16px;
}

.row2 {
  margin-right: 0px;
  margin-left: 0px;
}

/* Graphs */
.network {
  width: 100%;
  height: 600px;
}

.network-gauges {
  width: 100%;
  height: 1200px;
}

i.red {
  color: red;
}

i.green {
  color: green;
}

/* Draaggable div */
.draggable-div {
    position: absolute;
    z-index: 9;
    text-align: center;
}
.draggable-div-header-text {
    width: 97%;
    background-color: #2196F3;
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
    float: left;
}
.draggable-div-close {
    width: 3%;
    float: right;
    display:inline-block;
    cursor: pointer;
}
.draggable-div-body {
    width: 97%;
    background-color: #f1f1f1;
    float: left;
}

.draggable-div-body td {
    width: 100%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

/*Check box*/

input[type="checkbox"], input[type="radio"]{
    position: absolute;
    right: 9000px;
}

input[type="checkbox"] + .label-text:before{
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}

input[type="checkbox"]:checked + .label-text:before{
    content: "\f14a";
    color: #2980b9;
    animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled + .label-text{
    color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before{
    content: "\f0c8";
    color: #ccc;
}

/*Radio Toggle*/
.toggle input[type="radio"] + .label-text:before{
	content: "\f204";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 10px;
}

.toggle input[type="radio"]:checked + .label-text:before{
	content: "\f205";
	color: #16a085;
	animation: effect 250ms ease-in;
}

.toggle input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

.toggle input[type="radio"]:disabled + .label-text:before{
	content: "\f204";
	color: #ccc;
}


@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.3);}
	75%{transform: scale(1.4);}
	100%{transform: scale(1);}
}

/* lights */

.circle {
    width:12px;
    height:12px;
    border-radius:50px;
    color:#fff;
    display: inline-block;
}

.red-circle {
    background: red;
}

.green-circle {
    background: green;
}

.yellow-circle {
    background: yellow;
}

.blue-circle {
    background: blue;
}

/* Loaders */
.loader {
  border: 1px solid #f3f3f3; /* Light grey */
  border-top: 1px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
}
.loader-render {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
