{% extends "panel/index.html" %}
{% block content %}
<div class="row">
  <h1 class="page-header">BOA health alerts</h1>
</div>
<!-- /.row -->
{% with template = "?template=alerts" %}
{% include "boa_health/boa_health_query.html" %}
{% endwith %}

<!-- Pagination -->
{% with route = "/health/health-pages", elements = health_events, filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

{% set alerts = health_events|rejectattr("alerts", "equalto", [])|map(attribute="alerts")|list|flatten %}
{% include "boa_health/boa_health_alerts_content.html" %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
  {% if sliding_window %}
  var parameters = {
  "window_delay": "{{ sliding_window['window_delay'] }}",
  "window_size": "{{ sliding_window['window_size'] }}",
  "template": "alerts",
  }
  var repeat_cycle = {{ sliding_window['repeat_cycle'] }}
  vboa.update_view(parameters, repeat_cycle, "/health/sliding_health_parameters");
  {% endif %}
</script>
{% endblock %}
