{% extends "panel/index.html" %}
{% block content %}
<div class="row">
  <h1 class="page-header">Reporting control monitoring</h1>
</div>
<!-- /.row -->
{% include "reporting_control/reporting_control_query.html" %}

<!-- Pagination -->
{% with route = "/reporting_control/reporting-control-pages", elements = reports, filters = filters %}
{% include "vboa/pagination.html" %}
{% endwith %}

{% set alerts = reports|rejectattr("alerts", "equalto", [])|map(attribute="alerts")|list|flatten %}
{% include "reporting_control/reporting_control_alerts_content.html" %}
{% set reporting_errors = reports|selectattr("generation_error", "equalto", True)|list %}
{% include "reporting_control/reporting_control_errors_content.html" %}
{% set reports_to_be_shown = reports|rejectattr("generation_error", "equalto", True)|list %}
{% if reports_to_be_shown|length > 0 %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#ingested-reports-reporting-control">Reports ingested successfully <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="ingested-reports-reporting-control">
      <div>
        <h3><u>Table of reports successfully or being ingested</u></h3>
      </div>
      <table width="100%" class="table table-striped table-bordered table-hover table-search" id="ingested-reports-reporting-control-table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Report group</th>
            <th>Generation mode</th>
            <th>Generation progress</th>
            <th>Metadata ingestion progress</th>
            <th>Validity start</th>
            <th>Validity stop</th>
            <th>Validity duration (m)</th>
            <th>Generation start</th>
            <th>Generation stop</th>
            <th>Generation duration (m)</th>
            <th>Metadata ingestion duration (s)</th>
            <th>Triggering time</th>
            <th>Generator</th>
            <th>Version</th>
            <th>UUID</th>
          </tr>
        </thead>
        <tbody>
          {% for report in reports_to_be_shown %}
          <tr>
            <td><i id="expand-report-reporting-success-statuses-{{ report.report_uuid }}" class="fa fa-plus-square green" aria-hidden="true" onclick="vboa.expand_report_statuses('expand-report-reporting-success-statuses-{{ report.report_uuid }}', '{{ report.report_uuid }}')" data-toggle="tooltip" title="Click to show the related statuses"></i></td>
            <td><a href="/rboa_nav/query-report/{{ report.report_uuid }}">{{ report.name }}</a></td>
            <td>{{ report.reportGroup.name }}</td>
            <td>{{ report.generation_mode }}</td>
            {% with progress = report.get_generation_progress(), error = False %}
            {% include "vboa/progress_bar.html" %}
            {% endwith %}
            {% with progress = report.get_metadata_ingestion_progress(), error = False %}
            {% include "vboa/progress_bar.html" %}
            {% endwith %}
            {% with date = report.validity_start %}
            {% include "vboa/date_td_value.html" %}
            {% endwith %}
            {% with date = report.validity_stop %}
            {% include "vboa/date_td_value.html" %}
            {% endwith %}
            {% with date1 = report.validity_start, date2 = report.validity_stop %}
            {% include "vboa/difference_date_td_value.html" %}
            {% endwith %}
            {% with date = report.generation_start %}
            {% include "vboa/date_td_value.html" %}
            {% endwith %}
            {% with date = report.generation_stop %}
            {% include "vboa/date_td_value.html" %}
            {% endwith %}
            {% with date1 = report.generation_start, date2 = report.generation_stop %}
            {% include "vboa/difference_date_td_value.html" %}
            {% endwith %}
            <td>{{ report.metadata_ingestion_duration }}</td>
            {% with date = report.triggering_time %}
            {% include "vboa/date_td_value.html" %}
            {% endwith %}
            <td>{{ report.generator }}</td>
            <td>{{ report.generator_version }}</td>
            <td>{{ report.report_uuid }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Report group</th>
            <th>Generation mode</th>
            <th>Generation progress</th>
            <th>Metadata ingestion progress</th>
            <th>Validity start</th>
            <th>Validity stop</th>
            <th>Validity duration (m)</th>
            <th>Generation start</th>
            <th>Generation stop</th>
            <th>Generation duration (m)</th>
            <th>Metadata ingestion duration (s)</th>
            <th>Triggering time</th>
            <th>Generator</th>
            <th>Version</th>
            <th>UUID</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#reporting-control-status">Reporting control status <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <div class="panel-body panel-collapse collapse" id="reporting-control-status">
      <div>
          <p id="no-reports-reporting-control" style="text-indent: 1em">There are no reports being ingested during the requested period.</p>
        <br/>
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#graphs-reporting-control">Detailed graphs of the reporting control <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    {% if reports|length > 0 %}
    <div class="panel-body panel-collapse collapse in" id="graphs-reporting-control">
      <!-- /.panel-heading -->
      {% if not show or show["validity_timeline"] %}
      <div class="panel panel-default">
        <div class="panel-heading">
          Validity timeline of reports
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="reports-nav-validity-timeline">
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      {% endif %}
      {% if not show or show["generation_duration_xy"] %}
      <div class="panel panel-default">
        <div class="panel-heading">
          Reporting duration over time per report
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="reports-nav-generation-duration-xy">
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      {% endif %}
      {% else %}
      <div class="panel-body panel-collapse collapse" id="reporting-control-status">
        <div>
          <p id="no-reports-no-graphs-reporting-control" style="text-indent: 1em">There are no reports for showing detailed graphs.</p>
          <br/>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
  {% if reports|length > 0 %}
  {% with reports=reports %}
  {% include "graphs/reports_to_json.js" %}
  {% endwith %}
  {% if not show or show["validity_timeline"] %}
  vboa.create_report_validity_timeline(reports, "reports-nav-validity-timeline");
  {% endif %}
  {% if not show or show["generation_duration_xy"] %}
  vboa.create_report_generation_duration_xy(reports, "reports-nav-generation-duration-xy");
  {% endif %}
  {% endif %}
  {% if sliding_window %}
  var parameters = {
  "window_delay": "{{ sliding_window['window_delay'] }}",
  "window_size": "{{ sliding_window['window_size'] }}",
  }
  var repeat_cycle = {{ sliding_window['repeat_cycle'] }}
  vboa.update_view(parameters, repeat_cycle, "/reporting_control/sliding_reporting_control_parameters");
  {% endif %}
</script>
{% endblock %}
